{% extends '@layout/default.html.twig' %}

{% block title %}Enter code{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@partials/new-service.html.twig') }}
    <a href="/" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-xl">Enter Code</h1>

                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-form-group {% if form.lpa_code.vars.errors|length > 0 %}govuk-form-group--error{% endif %}">
                            {{ form_label(form.lpa_code, 'LPA Code', {'label_attr': {'class': 'govuk-label'}}) }}

                            {{ form_errors(form.lpa_code) }}

                            {{ form_widget(form.lpa_code, {'attr': {'class': 'govuk-input', 'spellcheck': 'false', 'autocomplete': 'off'}}) }}
                        </div>

                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    What is a share code?
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                A share code is given to you by the donor or an attorney named on the lasting power
                                of attorney.
                            </div>
                        </details>

                        <button type="submit" class="govuk-button">Save and continue</button>
                    </fieldset>
                {{ form_end(form) }}
            </div>
        </div>

    </main>
</div>

{% endblock %}
