{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We need some more details{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">

        {{ include('@partials/account-bar.html.twig') }}
        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path(back) }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}Is this the same address as your address on the paper LPA?{% endtrans %}</h1>

                    {{ govuk_form_open(form) }}

                    {{ govuk_form_element(form.get('__csrf')) }}

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            {{ govuk_form_element(form.get('actor_address_check_radio'), {'value_options':
                                [
                                    {
                                        'label': 'Yes, it is the same as my address on the paper LPA'|trans,
                                        'value': 'Yes'
                                    },
                                    {
                                        'label': 'No, it is different than my address on the paper LPA'|trans,
                                        'value': 'No'
                                    },
                                    {
                                        'label': 'I am not sure if it\'s the same address on the paper LPA'|trans,
                                        'value': 'Not sure'
                                    }
                                ]}
                            )}}

                        </fieldset>
                    </div>
                    <button data-prevent-double-click="true" type="submit" class="govuk-button">{% trans %}Continue{% endtrans %}</button>
                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
