{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}What is your UK postcode?{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">

        {{ include('@partials/account-bar.html.twig') }}
        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path(back) }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl" id="postcode_heading">{% trans %}What is your UK postcode?{% endtrans %}</h1>

                    <p class="govuk-body">{% trans %}This must be your current postcode. Your activation key will be posted to this address.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}If your current postcode does not match the address we have for you on our records, we’ll contact you to confirm your correct address.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}You can only ask for an activation key if you live in the UK.{% endtrans %}</p>

                    <details class="govuk-details govuk-!-margin-bottom-7" data-module="govuk-details" data-gaEventType="onClick" data-gaCategory="Details" data-gaAction="Not UK user" data-gaLabel="I do not live in the UK">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                {% trans %}I do not live in the UK{% endtrans %}
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>{% trans %}If you do not live in the UK you cannot ask for an activation key through this service. Please contact us instead.{% endtrans %}</p>
                            {{ include('@partials/contact-details/telephone.html.twig', {title: false}) }}
                        </div>
                    </details>

                    {{ govuk_form_open(form) }}

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('postcode'), {
                            'label': 'Your postcode' | trans,
                            'label_attr': {'class': 'govuk-!-font-weight-bold'},
                            'aria_labelledby': 'postcode_heading',
                            'attr' : {'class': 'govuk-input--width-10', 'label_class': 'govuk-!-font-weight-bold'}
                        }) }}

                        <button data-prevent-double-click="true" type="submit" class="govuk-button govuk-!-margin-right-1">{% trans %}Continue{% endtrans %}</button>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
