{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}What is your current postcode?{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path(back) }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl" id="postcode_heading">{% trans %}Where do you live?{% endtrans %}</h1>
                    <p class="govuk-body">{% trans %}We'll send your activation key to you by post.{% endtrans %}</p>

                    {{ govuk_form_open(form) }}

                    {{ govuk_form_element(form.get('__csrf')) }}

                    {{ govuk_form_element(form.get('live_in_uk'), {'value_options':
                        [
                            {
                                'label': 'I live in the UK'| trans,
                                'value': 'Yes',
                                'conditionalContent': {"postcode": govuk_form_element(form.get('postcode'),{'label': 'What is your UK postcode?'| trans})}
                            },
                            {
                                'label': 'I do not live in the UK'| trans,
                                'value': 'No'
                            },
                        ]}
                    ) }}
                    
                    <button data-prevent-double-click="true" type="submit" class="govuk-button govuk-!-margin-right-1">{% trans %}Continue{% endtrans %}</button>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
