{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}What is the LPA reference number?{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path(back) }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl" id="ref_number_heading">{% trans %}What is the LPA reference number?{% endtrans %}</h1>

                    <details class="govuk-details" data-module="govuk-details" data-gaEventType="onClick" data-gaCategory="Details" data-gaAction="Reference Number" data-gaLabel="My reference number is not 12 numbers long">
                        <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        {% trans %}Where to find the reference number{% endtrans %}
                                    </span>
                        </summary>

                        <div class="govuk-details__text">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>{% trans %}the reference number is on the first page of the LPA or any related letters from the Office of the Public Guardian{% endtrans %}</li>
                                <li>{% trans %}the reference may also be marked as ‘OPG reference number’, ‘Our ref’ or ‘Case number’{% endtrans %}</li>
                            </ul>
                        </div>
                    </details>

                    {{ govuk_form_open(form) }}

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('opg_reference_number'), {
                            'label': 'LPA reference number' | trans,
                            'hint': 'LPA reference numbers are 12 numbers long,<br>for example: 7000-0000-0000.'| trans,
                            'attr' : {
                                'class': 'govuk-input--width-20',
                                'label_class': 'govuk-label--s'
                            },
                            'aria_labelledby': 'ref_number_heading'
                        }) }}

                        <button data-prevent-double-click="true" type="submit" class="govuk-button govuk-!-margin-right-1">{% trans %}Continue{% endtrans %}</button>

                        <a href="{{ path('lpa.dashboard') }}" role="button" draggable="false"
                           class="govuk-button moj-button-menu__item govuk-button--secondary "
                           data-module="govuk-button">
                            {% trans %}Cancel{% endtrans %}
                        </a>
                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
