{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}What is the LPA reference number?{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path(back) }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl" id="ref_number_heading">{% trans %}What is the LPA reference number?{% endtrans %}</h1>

                    <p class="govuk-body">
                        {% trans %}
                            The LPA reference number (also called 'OPG reference number' or 'Our ref')
                            is on the first page of the paper LPA and on any letter you get from
                            the Office of the Public Guardian.
                        {% endtrans %}
                    </p>
                    <p class="govuk-body">
                        {% trans %} It will be 12 numbers long and start with a 7. {% endtrans %}
                    </p>

                    <details class="govuk-details" data-module="govuk-details" data-attribute="ga-event" data-gaAction="Details" data-gaCategory="Reference Number" data-gaLabel="My reference number is not 12 numbers long">
                        <summary class="govuk-details__summary">
                                    <span class="govuk-details__summary-text">
                                        {% trans %}My reference number is not 12 numbers long {% endtrans %}
                                    </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>{% trans %}If an LPA's reference number is not 12 numbers long, you cannot currently add that LPA to the service.{% endtrans %}</p>
                            <p>{% trans %}We are working to open up the service to more LPAs. Please try again in a few weeks time.{% endtrans %}</p>
                        </div>
                    </details>

                    {{ govuk_form_open(form) }}

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('opg_reference_number'), {
                            'label': 'LPA reference number' | trans,
                            'attr' : {
                                'class': 'govuk-input--width-20',
                                'label_class': 'govuk-label--s'
                            },
                            'aria_labelledby': 'ref_number_heading'
                        }) }}

                        <button data-prevent-double-click="true" type="submit" class="govuk-button govuk-!-margin-right-1">{% trans %}Continue{% endtrans %}</button>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>

    </div>
{% endblock %}
