<header class="govuk-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="https://www.gov.uk" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype">
                    <svg aria-hidden="true" focusable="false" class="govuk-header__logotype-crown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 32" height="32" width="36" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M21.6455 10.1467C21.3042 9.332 21.698 8.38733 22.5295 8.058C23.3435 7.72867 24.2888 8.11867 24.6302 8.93333C24.9716 9.748 24.5777 10.6753 23.7637 11.0133C22.9322 11.3513 21.9869 10.9613 21.6543 10.1467H21.6455ZM17.3917 13.83C16.5602 14.168 16.1751 15.1127 16.5077 15.9187C16.849 16.7333 17.7856 17.1233 18.6171 16.7853C19.4311 16.456 19.8249 15.52 19.4836 14.7053C19.1422 13.8907 18.1969 13.492 17.3829 13.83H17.3917ZM28.0875 13.5613C28.9015 13.232 29.2954 12.296 28.954 11.4813C28.6127 10.6667 27.6674 10.268 26.8534 10.606C26.0219 10.944 25.6368 11.8887 25.9694 12.6947C26.3107 13.5093 27.2473 13.8993 28.0788 13.5527L28.0875 13.5613ZM28.8403 16.9153C29.1816 17.73 30.1182 18.12 30.9497 17.7733C31.7637 17.444 32.1576 16.508 31.8162 15.6933C31.4748 14.8787 30.5295 14.48 29.7155 14.818C28.884 15.156 28.4989 16.1007 28.8315 16.9067L28.8403 16.9153ZM17.1466 6.056C17.2079 6.134 17.2779 6.20333 17.3567 6.264L16.1838 9.76533V9.78267C16.1313 9.956 16.0963 10.1467 16.0963 10.3373C16.0963 11.282 16.8053 12.0707 17.7243 12.2007H17.7681C17.8468 12.2093 17.9256 12.218 18.0044 12.218C18.0832 12.218 18.1619 12.218 18.2407 12.2007H18.2845C19.2035 12.062 19.9125 11.282 19.9125 10.3373C19.9125 10.1467 19.8862 9.956 19.8249 9.78267V9.76533L18.6521 6.264C18.7309 6.20333 18.8009 6.134 18.8621 6.056C18.9234 5.978 20.9015 7.11333 20.9015 7.11333V4.132L18.8621 4.77333C18.8096 4.69533 18.7396 4.626 18.6608 4.56533C18.5821 4.50467 19.4836 2 19.4836 2H16.5427L17.3654 4.55667C17.2954 4.61733 17.2254 4.68667 17.1641 4.76467C17.1028 4.84267 15.1247 4.132 15.1247 4.132V7.11333L17.1641 6.04733L17.1466 6.056ZM12.2188 11.0133C13.0503 11.3513 13.9956 10.9613 14.3282 10.1467C14.6696 9.332 14.2757 8.38733 13.4442 8.058C12.6302 7.72867 11.6849 8.11867 11.3435 8.93333C11.0022 9.748 11.3961 10.6753 12.2101 11.0133H12.2188ZM7.89497 13.57C8.72648 13.908 9.67177 13.518 10.0044 12.712C10.3457 11.8973 9.95186 10.9527 9.12035 10.6233C8.30635 10.294 7.36105 10.684 7.01969 11.4987C6.67834 12.3133 7.07221 13.2407 7.88621 13.5787L7.89497 13.57ZM5.03282 17.7907C5.86433 18.1287 6.80963 17.7387 7.14223 16.9327C7.48359 16.118 7.08972 15.1733 6.25821 14.844C5.4442 14.5147 4.49891 14.9047 4.15755 15.7193C3.81619 16.534 4.21007 17.4613 5.02407 17.7993L5.03282 17.7907ZM29.8206 19.5933C30.0394 20.694 30.0744 21.2053 29.8293 21.916C29.4705 21.5693 29.1291 20.9193 28.8578 19.94L27.7987 23.4413C28.4464 22.9993 28.9453 22.7133 29.5142 22.7047C28.5077 24.8627 27.2385 25.4173 26.4245 25.2613C25.4267 25.0793 24.9628 24.1953 25.1203 23.45C25.3479 22.3927 26.4508 22.1153 26.9584 23.346C27.9387 21.3613 26.2757 20.746 25.2079 21.3353C26.8534 19.706 27.0372 18.2673 25.7155 16.5167C23.8687 17.9207 23.8425 19.3073 24.674 21.2573C23.5974 20.0353 21.9081 20.694 22.5208 22.67C23.2998 21.474 24.3326 22.228 24.1663 23.3633C24.0263 24.3513 22.7133 25.1487 21.0678 25.01C18.7133 24.802 18.5733 23.19 18.512 21.864C19.0897 21.76 20.1313 22.2887 21.0241 23.528L21.3479 19.8187C20.3851 20.8153 19.5011 21.006 18.5295 21.032C18.8534 20.0267 20.3501 18.3887 20.3501 18.3887H15.6674C15.6674 18.3887 17.1554 20.0353 17.488 21.032C16.5164 20.9973 15.6324 20.8153 14.6696 19.8187L14.9934 23.528C15.8862 22.2973 16.919 21.76 17.5055 21.864C17.4442 23.1987 17.3042 24.802 14.9497 25.01C13.3042 25.1487 11.9912 24.3513 11.8512 23.3633C11.6849 22.228 12.7177 21.474 13.4967 22.67C14.1007 20.694 12.4201 20.0353 11.3435 21.2573C12.1751 19.3073 12.1575 17.9207 10.302 16.5167C8.97155 18.2673 9.16411 19.706 10.8096 21.3353C9.74179 20.746 8.07002 21.37 9.05908 23.346C9.57549 22.1153 10.6696 22.3927 10.8972 23.45C11.0547 24.1953 10.5908 25.0793 9.593 25.2613C8.77899 25.4087 7.50985 24.854 6.50328 22.7047C7.07221 22.722 7.57112 22.9993 8.21882 23.4413L7.15974 19.94C6.8884 20.9193 6.54705 21.5693 6.18818 21.916C5.94311 21.2053 5.97812 20.694 6.18818 19.5933L4 20.3647C5.16411 21.9333 6.29322 24.1433 7.21225 28C10.477 27.5407 14.1357 27.2807 17.9956 27.2807C21.8556 27.2807 25.523 27.5407 28.7877 28C29.7155 24.1433 30.8446 21.9333 32 20.3647L29.8118 19.5933H29.8206Z" fill="white"/>
                    </svg>
                    <span class="govuk-header__logotype-text">
                        GOV.UK
                    </span>
                </span>
            </a>
        </div>
        <div class="govuk-header__content">

            <a href="{{ path('home') }}" class="govuk-header__link govuk-header__link--service-name">
                {% block service_name %}
                    {% set service_name = ((application == 'actor') ? 'Use' : 'View') ~ ' a lasting power of attorney' %}
                    {{ service_name | trans }}
                {% endblock %}
            </a>

        </div>
    </div>
</header>

{% if not forDownload|default(false) %}
    <div class="govuk-width-container">
        {% if application == "actor" and user is defined %}
            <nav class="signin js-signed-in" role="navigation" aria-labelledby="account-bar-navigation">
                <p class="govuk-body-s">
                    {% trans %}Last signed in:{% endtrans %}
                    {{ user.getDetail('LastLogin') is empty
                    ? "Never" | trans
                    : lpa_date(user.getDetail('LastLogin'))
                    }}
                </p>
                <div class="govuk-body-s" id="account-bar-navigation">
                    <ul>
                        <li><a href="{{ path('settings') }}" class="govuk-link">{% trans %}Settings{% endtrans %}</a></li>
                        <li><a href="{{ path('lpa.dashboard') }}" class="govuk-link">{% trans %}Your LPAs{% endtrans %}</a></li>
                        <li><a href="{{ path('logout') }}" class="govuk-link">{% trans %}Sign out{% endtrans %}</a></li>
                    </ul>
                </div>
            </nav>
        {% endif %}
        <div class="govuk-clearfix">
            {{ include('@partials/header/welsh-switch.html.twig') }}
        </div>
    </div>
{% endif %}