{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We could not activate that account{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-xl">{% trans %}We could not activate that account{% endtrans %}</h2>
                </div>

                <div class="govuk-grid-column-two-thirds">

                    <p class="govuk-body">{% trans %}We could not activate the account with the link you used. This could be because:{% endtrans %}</p>
                    <ul class="list list-bullet">
                        <li>
                            <p class="govuk-body govuk-!-font-weight-bold">{% trans %}you already have an active account{% endtrans %}</p>
                            <p class="govuk-body">{% trans with {'%link%': path('login') } %}<a href="%link%" class="govuk-link">Sign in to your account</a>{% endtrans %}</p>
                        </li>
                        <li>
                            <p class="govuk-body govuk-!-font-weight-bold">{% trans %}the account activation link has expired{% endtrans %}</p>
                            <p class="govuk-body">{% trans with {'%link%': path('create-account') } %}The link we sent you to activate your account lasts for 24 hours. If you did not use the link in that time, you'll need to <a href="%link%" class="govuk-link">create an account</a>.{% endtrans %}</p>
                        </li>
                    </ul>

                    <p class="govuk-body">
                        {% trans %}
                            If you need help activating your account, please contact us:
                        {% endtrans %}
                    </p>
                    <div class="govuk-inset-text">
                        {{ include('@partials/contactdetails/telephone.html.twig')}}
                        {{ include('@partials/contactdetails/email.html.twig') }}
                    </div>
                    <p class="govuk-body govuk-!-margin-top-7">
                        {% trans %}If you're named on more than one <abbr title="lasting power of attorney">LPA</abbr>, you can add all those <abbr title="lasting powers of attorney">LPAs</abbr> to your account{% endtrans %}
                    </p>
                    <a href="{{ path('home') }}" draggable="false" class="govuk-button">
                        {% trans %}Continue{% endtrans %}
                    </a>
                </div>
            </div>

        </main>
    </div>
{% endblock %}
