{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}What is your role on the LPA?{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('lpa.check-answers') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}What is your role on the LPA?{% endtrans %}</h1>

                    {{ govuk_error_summary(form) }}

                    {{ govuk_form_open(form) }}

                    {{ govuk_form_element(form.get('__csrf')) }}

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            {{ govuk_form_element(form.get('actor_role_radio'), {'value_options':
                                [
                                    {
                                        'label': 'Donor'| trans,
                                        'value': 'Donor'
                                    },
                                    {
                                        'label': 'Attorney'| trans,
                                        'value': 'Attorney'
                                    }
                                ]}
                            )}}

                        </fieldset>
                    </div>

                    <button data-prevent-double-click="true" type="submit" class="govuk-button">{% trans %}Continue{% endtrans %}</button>

                    {{ govuk_form_close() }}

                </div>
            </div>
        </main>

    </div>
{% endblock %}
