{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Do you have an activation key to add an LPA?{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link"
               id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                {{ govuk_form_open(form) }}

                <div class="govuk-grid-column-two-thirds">
                    {{ govuk_error_summary(form) }}
                    {{ govuk_form_element(form.get('__csrf')) }}

                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                {% trans %}Do you have an activation key to add an LPA?{% endtrans %}
                            </h1>
                        </legend>

                        <p class="govuk-body">
                            {% trans %}
                                You need your own unique activation key to add an LPA to your account.
                                These are sent to you when the LPA is registered and expire after 12 months.
                            {% endtrans %}
                        </p>

                        <p class="govuk-body">
                            {% trans %}
                                Activation keys are 12 letters and numbers long and start with a C, for example: C-AB12 CD34 EF56.
                            {% endtrans %}
                        </p>

                        <p class="govuk-body">
                            {% trans %}
                                If you’ve lost your activation key, it’s expired, or you’ve not had one before, you can request a new one.
                            {% endtrans %}
                        </p>

                        {{ govuk_form_element(form.get('activation_key_triage'), {'value_options':
                            [
                                {
                                    'label': 'Yes, I have an activation key'| trans,
                                    'value': 'Yes'
                                },
                                {
                                    'label': 'No, I need to request an activation key'| trans,
                                    'value': 'No'
                                }
                            ]}
                        ) }}
                    </fieldset>

                    <div class="govuk-button-group">
                        <button role="button" type="submit" data-prevent-double-click="true" draggable="false" class="govuk-button" data-module="govuk-button">
                            {% trans %}Continue{% endtrans %}
                        </button>

                        <a href="{{ path('lpa.dashboard') }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            {% trans %}Cancel{% endtrans %}
                        </a>
                    </div>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
