{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We've already sent you an activation key for this LPA{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{% trans %}We've already sent you an activation key for this LPA{% endtrans %}</h1>

                    <p class="govuk-body">{% trans with {'%dueDate%' : lpa_date(dueDate)} %}We posted an activation key to the address we have for you on our records. It should have arrived by %dueDate%.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}If you've lost the letter, you can ask for a new key. This will cancel the key we sent you before.{% endtrans %}</p>
                    <p class="govuk-body">{% trans with {'%link%': path('contact-us')} %}If the letter did not arrive, <a class="govuk-link" href="%link%">contact us</a> to check we have your correct address before you ask for a new key.{% endtrans %}</p>

                    {{ govuk_form_open(form) }}

                    {{ govuk_form_element(form.get('__csrf')) }}
                    {{ govuk_form_element(form.get('force_activation')) }}


                    <a href="{{ path('lpa.dashboard') }}" draggable="false" class="govuk-button">{% trans %}Back to your LPAs{% endtrans %}</a>
                    <button data-prevent-double-click="true" type="submit" class="govuk-button govuk-button--secondary">
                        {% trans %}Continue and ask for a new key{% endtrans %}
                    </button>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>

    </div>
{% endblock %}
