{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}You have an activation key for this LPA{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{% trans %}We’ve already sent you an activation key for this LPA{% endtrans %}</h1>

                    <dl class="govuk-summary-list govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-body govuk-summary-list__key">
                                {% trans %}Donor name{% endtrans %}
                            </dt>
                            <dd class="govuk-body govuk-summary-list__value">
                                {{ donorName }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-body govuk-summary-list__key">
                                {% trans %}LPA type{% endtrans %}
                            </dt>
                            <dd class="govuk-body govuk-summary-list__value">
                                {% if caseType|lower == "pfa" %}
                                    {% trans %}Property and finance{% endtrans %}
                                {% else %}
                                    {% trans %}Health and welfare{% endtrans %}
                                {% endif %}
                            </dd>
                        </div>
                    </dl>

                    <h2 class="govuk-heading-m">{% trans %}If you’ve not asked for an activation key before{% endtrans %}</h2>
                    <p class="govuk-body">{% trans %}Your activation key is on the letter that told you the LPA had been registered or in an email we sent you.{% endtrans %}</p>
                    <h2 class="govuk-heading-m">{% trans %}If you’ve already asked for an activation key through this service{% endtrans %}</h2>
                    <p class="govuk-body">{% trans %}We have posted an activation key to you - it can take up to 10 working days to arrive.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}If you've lost the letter, you can ask for a new key. This will cancel the key we sent to you before.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}If the letter did not  arrive, check we have your correct address before you ask for a new key.{% endtrans %}</p>

                    <a href="{{ path('lpa.dashboard') }}" draggable="false" class="govuk-button">{% trans %}Back to your LPAs{% endtrans %}</a>
                </div>
            </div>
        </main>

    </div>
{% endblock %}
