{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}You've already asked for an activation key for this LPA{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{% trans %}You've already asked for an activation key for this LPA{% endtrans %}</h1>

                    <p class="govuk-body">{% trans %}Once we've finished checking all the details, we'll post you a letter with your activation key for this LPA. We'll contact you if we need any more information.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}The letter will be sent to the address we have for you on our records. We send the key by post because its more secure.{% endtrans %}</p>
                    <p class="govuk-body">{% trans with {'%dueDate%' : lpa_date(dueDate)} %}You should hear from us or get the activation key letter by %dueDate%. If not, please contact us.{% endtrans %}</p>

                    {{ govuk_form_open(form) }}

                    {{ govuk_form_element(form.get('__csrf')) }}
                    {{ govuk_form_element(form.get('force_activation')) }}

                    <a href="{{ path('lpa.dashboard') }}" draggable="false" class="govuk-button">
                        {% trans %}Back to your LPAs{% endtrans %}
                    </a>

                    <button data-prevent-double-click="true" type="submit" class="govuk-button govuk-button--secondary">
                        {% trans %}Continue and ask for a new key{% endtrans %}
                    </button>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>

    </div>
{% endblock %}
