{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Cannot find LPA{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/account-bar.html.twig') }}
        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    {% if feature_enabled('allow_older_lpas') and not
                        (feature_enabled('dont_send_lpas_registered_after_sep_2019_to_cleansing_team')) %}

                        <h1 class="govuk-heading-xl">{% trans %}We could not find an LPA with that reference number{% endtrans %}</h1>

                        <p class="govuk-body-l">{% trans %}LPA reference number: {% endtrans %} {{ lpa_reference_number }} </p>

                        <h2 class="govuk-heading-m">{% trans %}Did you give us the right LPA reference number?{% endtrans %}</h2>

                        <p class="govuk-body">
                            {% trans %}
                                You'll find the reference number on the LPA and at the top of any letter you've received from us about the LPA.
                                If you do not have the LPA or have not kept any letters, check with someone else named on the LPA.
                            {% endtrans %}
                        </p>

                        <p class="govuk-body">{% trans %}If you're sure you entered the right information, please call us:{% endtrans %}</p>
                        {{ include('@partials/contact-details/telephone.html.twig') }}

                    {% else %}

                        <h1 class="govuk-heading-xl">{% trans %}We could not find an LPA to send you an activation key{% endtrans %}</h1>
                        <p class="govuk-body">{% trans %}This could be because the information you entered does not match the information we hold about the LPA.{% endtrans %}</p>

                        <h2 class="govuk-heading-l">{% trans %}Check your answers{% endtrans %}</h2>
                        <dl class="govuk-summary-list govuk-summary-list">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    {% trans %}LPA reference number{% endtrans %}
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ lpa_reference_number }}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    {% trans %}Name{% endtrans %}
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ first_name ~ ' ' ~  last_name }}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    {% trans %}Date of birth{% endtrans %}
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ code_date(dob) }}
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    {% trans %}Postcode{% endtrans %}
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ postcode }}
                                </dd>
                            </div>
                        </dl>

                        <h2 class="govuk-heading-l">{% trans %}Did you give us the right LPA reference number?{% endtrans %}</h2>
                        <p class="govuk-body">{% trans %}You’ll find the reference number on the LPA and at the top of any letter you’ve received from us about the LPA. If you do not have the LPA or have not kept any letters, check with someone else named on the LPA.{% endtrans %}</p>
                        <p class="govuk-body">{% trans %}If you're named on more than one LPA, make sure you’ve entered the reference number for the right LPA.{% endtrans %}</p>

                        <h2 class="govuk-heading-l">{% trans %}Do we have your correct name and date of birth on our records?{% endtrans %}</h2>
                        <p class="govuk-body">{% trans %}If you've changed your name and not told us, or if your name or date of birth are wrong on the paper LPA, try to ask for a key again using your details as they appear on the LPA. If you do not have the LPA, check with the person who does.{% endtrans %}</p>
                        <p class="govuk-body">{% trans %}You must then contact us so we can update your details on our records.{% endtrans %}</p>

                        <h2 class="govuk-heading-l">{% trans %}Is your address correct on our records?{% endtrans %}</h2>
                        <p class="govuk-body">{% trans %}If there's a mistake in your address on the LPA, or you've moved and not told us, let us know your correct address.{% endtrans %}</p>
                        <p class="govuk-body">{% trans %}You must do this before you try to ask for an activation key again, so we can post your key to the right address.{% endtrans %}</p>

                        <details class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary" role="button">
                        <span class="govuk-details__summary-text">
                          {% trans %}What to do if you’re sure you entered the right information{% endtrans %}
                        </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p>{% trans %}If you're sure you entered the right information, please call us:{% endtrans %}</p>
                                <p>{% trans %}Telephone: 0300 456 0300{% endtrans %}</p>
                                <p>{% trans %}Textphone: 0115 934 2778{% endtrans %}</p>
                            </div>
                        </details>
                    {% endif %}

                    <a href="{{ path('lpa.add-by-paper', {}, {'startAgain': 'true'}) }}" draggable="false"
                       class="govuk-button">{% trans %}Try again{% endtrans %}</a>
                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1"
                       href="{{ path('lpa.dashboard') }}">
                        {% trans %}Back to your LPAs{% endtrans %}
                    </a>
                </div>
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
