{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Let us know if a donor or attorney’s details change{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}

    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        {% if actorToken != 'null' %}
            {% set backLink = path('lpa.view', {}, {'lpa': actorToken}) %}
        {% else %}
            {% set backLink = path('your-details') %}
        {% endif %}
        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ backLink }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}Let us know if a donor or attorney's details change{% endtrans %}</h1>

                    <p class="govuk-body">{% trans %}It's important that we hold up-to-date information about donors and attorneys. This is because the first
                        time you show an <abbr title="lasting power of attorney">LPA</abbr> to an organisation, they might ask you to confirm that your name and
                        address match what’s on the <abbr title="lasting power of attorney">LPA</abbr>.{% endtrans %}</p>

                    <p class="govuk-body">{% trans %}You should contact us if:{% endtrans %}</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>{% trans %}the donor or an attorney has moved house{% endtrans %}</li>
                        <li>{% trans %}the donor or an attorney has changed their name{% endtrans %}</li>
                        <li>{% trans %}the donor's or an attorney's name or address is misspelt{% endtrans %}</li>
                        <li>{% trans %}a date of birth is wrong{% endtrans %}</li>
                        {% if actorToken != 'null' %}
                            <li><a class="govuk-link" href="{{ path('lpa.death-notification', {}, {'lpa': actorToken}) }}">{% trans %}the donor or an attorney dies{% endtrans %}</a></li>
                        {% else %}
                            <li><a class="govuk-link" href="{{ path('lpa.death-notification') }}">{% trans %}the donor or an attorney dies{% endtrans %}</a></li>
                        {% endif %}
                    </ul>

                    <p class="govuk-body">{% trans %}We’ll update the online <abbr title="lasting power of attorney">LPA</abbr> summary and our records.{% endtrans %}</p>

                    <p class="govuk-body">{% trans %}Do not make any changes to the paper <abbr title="lasting power of attorney">LPA</abbr> yourself.
                        If you do, you’ll no longer be able to use the <abbr title="lasting power of attorney">LPA</abbr>.{% endtrans %}</p>

                    <p class="govuk-body">{% trans %}If you’re the donor, you can tell us about changes to your details and your attorney’s details.{% endtrans %}</p>

                    <p class="govuk-body">{% trans %}If you’re an attorney, you can tell us about changes to the donor’s details and your details. You cannot update another attorney’s details.{% endtrans %}</p>

                    <h2 class="govuk-heading-m">{% trans %}How to let us know{% endtrans %}</h2>

                    <p class="govuk-body">{% trans %}When you get in touch, quote the LPA reference number.{% endtrans %}</p>

                    {{ include('@partials/contact-details/contact-details.html.twig') }}

                    {{ include('@partials/section-break.html.twig') }}

                    <h2 class="govuk-heading-m govuk-!-margin-top-6">{% trans %}Let us know if a donor or attorney dies{% endtrans %}</h2>

                    <p class="govuk-body">{% trans %}It's important that we hold up-to-date information about donors and attorneys.
                        This is because an LPA will end when the donor dies, and can end if an attorney dies.{% endtrans %}</p>

                    <p class="govuk-body">
                        {% if actorToken != 'null' %}
                            {% trans with {'%link%': path('lpa.death-notification', {}, {'lpa': actorToken})} %}Find out more about what to do if <a class="govuk-link" href="%link%"> the donor or an attorney dies</a>{% endtrans %}
                        {% else %}
                            {% trans with {'%link%': path('lpa.death-notification')} %}Find out more about what to do if <a class="govuk-link" href="%link%"> the donor or an attorney dies</a>{% endtrans %}
                        {% endif %}
                    </p>

                </div>
            </div>

        </main>
    </div>

{% endblock %}
