{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Is this the LPA you want to add?{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ feature_enabled('use_older_lpa_journey') ? path('lpa.add-by-code') : path('lpa.add') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <h1 class="govuk-heading-xl">{% trans %}Is this the LPA you want to add?{% endtrans %}</h1>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <dl class="govuk-summary-list govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans %}Type of LPA{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.caseSubtype|lower == "pfa" %}
                                    {% trans %}Property and finance{% endtrans %}
                                {% else %}
                                    {% trans %}Health and welfare{% endtrans %}
                                {% endif %}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans %}Donor name{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ actor_name(lpa.donor) }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans %}Your name{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ actor_name(user) }}
                            </dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans %}Your role on this LPA{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {% if userRole == "Attorney" %}
                                    {% trans %}Attorney{% endtrans %}
                                {% else %}
                                    {% trans %}Donor{% endtrans %}
                                {% endif %}
                            </dd>
                        </div>
                    </dl>

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">{% trans %}Warning{% endtrans %}</span>
                            {% trans %}Check that these details are correct before continuing{% endtrans %}
                        </strong>
                    </div>

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                {% trans %}What to do if the details are wrong{% endtrans %}
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>
                                {% trans %}If the information is wrong, or if a name is misspelt, please call us:{% endtrans %}
                            </p>
                            {{ include('@partials/contact-details/telephone.html.twig', {heading_level: 2 }) }}
                        </div>
                    </details>

                    {{ govuk_form_open(form) }}

                    {{ govuk_form_element(form.get('__csrf')) }}

                    <button data-prevent-double-click="true" type="submit" class="govuk-button">{% trans %}Continue{% endtrans %}</button>

                    <a href="{{ path('lpa.dashboard') }}" role="button" class="govuk-button govuk-button--secondary">
                        {% trans %}Cancel{% endtrans %}
                    </a>

                    {{ govuk_form_close() }}
                </div>
            </div>

        </main>

    </div>
{% endblock %}
