{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Access codes for this LPA{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}

    <div class="govuk-width-container">
        {{ include('@partials/account-bar.html.twig') }}
        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('lpa.dashboard', {}, {'lpa': actorToken}) }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back to your LPAs{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ include('@actor/partials/flash-message.html.twig', {'flash': flash, 'flash_key':'Actor\\Handler\\CancelCodeHandler::CANCEL_CODE_FLASH_MSG'}) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-caption-l">
                      {% if lpa.caseSubtype == "pfa" %}
                          {% trans %}Property and finance{% endtrans %}
                      {% else %}
                          {% trans %}Health and welfare{% endtrans %}
                      {% endif %}
                  </h2>
                  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
                    {{ actor_name(lpa.donor, false) }}
                  </h2>
                </div>
            </div>

            {{ include('@actor/partials/lpa-sub-navigation.html.twig') }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{% trans %}Check access codes{% endtrans %}</h1>

                    {% if shareCodes is empty  %}
                        <h2 class="govuk-heading-m">{% trans %}There are no access codes for this LPA.{% endtrans %}</h2>
                        <p class="govuk-body">{% trans %}When an organisation has been given access you will be able to see the <br>
                            access codes and details here.{% endtrans %}</p>

                        <a href="{{ path('lpa.create-code', {}, {'lpa': actorToken }) }}" draggable="false" class="govuk-button">
                            {% trans %}Give an organisation access{% endtrans %}
                        </a>
                    {% else %}
                        {% set containsActive = false %}
                        {% set containsInactive = false %}

                        {% for code in shareCodes %}

                            {% if check_if_code_has_expired(code.Expires) %}
                                {% set containsInactive = true %}
                            {% elseif check_if_code_is_cancelled(code) %}
                                {% set containsInactive = true %}
                            {% else %}
                                {% set containsActive = true %}
                            {% endif %}
                        {% endfor %}

                        {% if containsActive %}
                            <h2 class="govuk-heading-m">{% trans %}Active codes{% endtrans %}</h2>

                            <p class="govuk-body">{% trans %}Give an organisation their access code so they can view this LPA. They should go to www.gov.uk/view-lpa to use the code.{% endtrans %}</p>

                            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default-1" data-opentext="{% trans %}Open all{% notes %}Accordion label{% endtrans%}" data-closetext="{% trans %}Close all{% notes %}Accordion label{% endtrans %}" data-sectiontext="{% trans %}active code details{% notes %}Accordion label{% endtrans %}">
                                {% for code in shareCodes %}
                                    {% set id_counter = ( id_counter | default(0) ) + 1 %}
                                    {% if not (check_if_code_has_expired(code.Expires) or check_if_code_is_cancelled(code)) %}
                                        {% if code.UserLpaActor is not empty %}
                                            {# check UserLpaActor to not show code if it belongs to a deleted LPA #}
                                            {{ include('@actor/partials/check-code-details.html.twig', {'id_counter': id_counter }) }}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if containsInactive %}
                            <h2 class="govuk-heading-m">{% trans %}Inactive codes{% endtrans %}</h2>

                            <p class="govuk-body">{% trans %}The following codes will no longer work.{% endtrans %}<br>
                                {%trans with {'%create-code-link%': path('lpa.create-code', {}, {'lpa':  actorToken })} %}If an organisation asks to see this <abbr title="lasting power of attorney">LPA</abbr> again, you can <a href="%create-code-link%" class="govuk-link">make them a new code</a>.{% endtrans %}
                            </p>

                            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default-2" data-opentext="{% trans %}Open all{% notes %}Accordion label{% endtrans%}" data-closetext="{% trans %}Close all{% notes %}Accordion label{% endtrans %}" data-sectiontext="{% trans %}inactive code details{% notes %}Accordion label{% endtrans %}">
                                {% for code in shareCodes %}
                                    {% set id_counter = ( id_counter | default(0) ) + 1 %}
                                    {% if check_if_code_has_expired(code.Expires) or check_if_code_is_cancelled(code) %}
                                        {{ include('@actor/partials/check-code-details.html.twig', {'id_counter': id_counter }) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
