{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Are you sure you want to remove this LPA?{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}

    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{% trans %}Are you sure you want to remove this LPA?{% endtrans %}</h1>

                    <p class="govuk-body">If you remove an LPA from your Use a lasting power of attorney account:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>all access codes you’ve created for that LPA will be cancelled</li>
                        <li>you’ll not be able to see how the LPA is being used or has been used</li>
                        <li>you must contact us for a new activation key if you want to add the LPA back to your account</li>
                    </ul>

                    <a href="{{ path('lpa.dashboard') }}" role="button" draggable="false" class="govuk-button govuk-button govuk-button--secondary govuk-!-margin-right-1">
                        {% trans %}Cancel{% endtrans %}
                    </a>
                    <a href="{{ path('lpa.remove-lpa', {}, {'lpa': actorToken }) }}" role="button" draggable="false" class="govuk-button govuk-button--warning" data-prevent-double-click="true">
                        {% trans %}Yes, remove LPA{% endtrans %}
                    </a>
                </div>
            </div>
        </main>
    </div>

{% endblock %}
