{% extends '@actor/layout.html.twig' %}

{% block html_title %}Confirm delete account - {{ parent() }} {% endblock %}

{% block content %}

    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        <a href="{{ path('your-details') }}" class="govuk-back-link">Back</a><br>
        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Are you sure you want to delete your account?</h1>

                    <p class="govuk-body">You're about to delete your Use a lasting power of attorney account.</p>

                    <p class="govuk-body">If you have changed your name by marriage or deed poll, please
                        <a href="https://www.gov.uk/power-of-attorney/change-your-lasting-power-of-attorney">contact the Office of the Public Guardian </a>(OPG)</p>

                    <p class="govuk-body">OPG can update the paper lasting power of attorney (LPA) and the online LPA summary so they show your new name.</p>

                    <a href="{{ path('your-details')}}" role="button" draggable="false" class="govuk-button govuk-button govuk-button--secondary govuk-!-margin-right-1">
                        No, return to my details
                    </a>

                    <a href="{{ path('delete-account') }}" role="button" draggable="false" class="govuk-button">
                        Yes, continue deleting my account
                    </a>

                </div>
            </div>
        </main>
    </div>

{% endblock %}
