{% extends '@actor/layout.html.twig' %}

{% block html_title %}Create an account - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    <a href="{{ path('home') }}" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govuk_error_summary(form) }}

                {{ govuk_form_open(form) }}

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Create an account
                            </h1>
                        </legend>

                        <p class="govuk-body-l">If you already have an account, please <a href="{{ path('login') }}" class="govuk-link">sign in</a>.</p>

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-two-thirds">

                                {{ govuk_form_element(form.get('__csrf')) }}

                                {{ govuk_form_element(form.get('email'), { 'label': 'Enter your email address' }) }}

                                {{ govuk_form_element(form.get('password'), { 'label': 'Create a password', 'hint': 'Your password needs to have: <ul class="govuk-list--bullet"><li>at least 8 characters</li><li>at least one lower-case and one capital letter</li><li>at least one number</li></ul>' }) }}

                                {{ govuk_form_element(form.get('password_confirm'), { 'label': 'Confirm your password' }) }}

                                <div class="govuk-warning-text">
                                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                                  <strong class="govuk-warning-text__text">
                                    <span class="govuk-warning-text__assistive">Warning</span>
                                    Never share your password with anyone.
                                  </strong>
                                </div>

                                {{ govuk_form_element(form.get('terms'), { 'label': 'I agree to the <a href="/terms-of-use" class="govuk-link">terms of use</a>' }) }}

                                <button data-prevent-double-click="true" type="submit" class="govuk-button">Create account</button>

                            </div>

                        </div>

                    </fieldset>

                {{ govuk_form_close() }}

            </div>

        </div>

    </main>
</div>
{% endblock %}
