{% extends '@actor/layout.html.twig' %}

{% block html_title %}Account created - {% endblock %}

{% block content %}
<style>
    .button-input-to-link {
        color: #005ea5;
        background-color: transparent;
        cursor: pointer;
        text-decoration: underline;
        border: none;
        margin: 0;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        font-weight: 400;
    }
</style>

<div class="govuk-width-container">
    {{ include('@partials/new-service.html.twig') }}

    <a href="/" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">Activate your account</h1>

                {{ govuk_form_open(form) }}

                    {{ govuk_form_element(form.get('__csrf')) }}

                    {{ govuk_form_element_hidden(form.get('email')) }}

                    {{ govuk_form_element_hidden(form.get('email_confirm')) }}

                    <p class="govuk-body">We've emailed a link to {{ emailAddress }}. Click on the link to activate your account. The link will work for the next 24 hours.</p>

                    <p class="govuk-body">The email should arrive in a few minutes. If it's not in your inbox, check your spam or junk folder. If you have not received the email, we can <input type="submit" class="button-input-to-link" value="resend the activation email">.</p>

                    <p class="govuk-body">If you still do not receive the email, please contact us on 0300 456 0300.</p>

                    <p class="govuk-body">If you've already activated your account, you can <a href="{{ path('login') }}">sign in</a> now.</p>

                {{ govuk_form_close() }}

            </div>

        </div>

    </main>
</div>
{% endblock %}
