{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Death Notification{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}

    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        {% if actorToken != 'null' %}
            {% set backLink = path('lpa.change-details', {}, {'lpa': actorToken}) %}
        {% else %}
            {% set backLink = path('lpa.change-details') %}
        {% endif %}
        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ backLink }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{% trans %}Let us know if a donor or attorney dies{% endtrans %}</h1>

                    <p class="govuk-body">
                        {% trans %}It's important that we hold up-to-date information about donors and attorneys.
                        This is because an LPA will end when the donor dies, and they can end if an attorney dies.{% endtrans %}
                    </p>
                    <p class="govuk-body">{% trans %}You should contact us if:{% endtrans %}</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>{% trans %}the donor dies{% endtrans %}</li>
                        <li>{% trans %}an attorney dies{% endtrans %}</li>
                        <li>{% trans %}a replacement attorney dies{% endtrans %}</li>
                    </ul>

                    <p class="govuk-body">{% trans %}We'll update the online LPA summary and our records{% endtrans %}</p>

                    <h2 class="govuk-heading-m">{% trans %}If the donor dies{% endtrans %}</h2>
                    <p class="govuk-body">
                        {% trans %}The LPA ends when the donor dies. The donor’s affairs will be looked after
                        by their executors or personal representatives from that point, not their attorneys.{% endtrans %}
                    </p>

                    <h2 class="govuk-heading-m">{% trans %}If an attorney or replacement attorney dies{% endtrans %}</h2>
                    <p class="govuk-body">{% trans %}The LPA will end if your attorney dies and there is not a replacement attorney.{% endtrans %}</p>

                    <p class="govuk-body">{% trans %}The LPA can continue if:{% endtrans %}</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>{% trans %}there are other attorneys who can act 'jointly and severally' -
                            but not if they are only allowed to act 'jointly'{% endtrans %}</li>
                        <li>{% trans %}there are replacement attorneys{% endtrans %}</li>
                    </ul>

                    <h2 class="govuk-heading-m">{% trans %}How to let us know{% endtrans %}</h2>
                    <p class="govuk-body">{% trans %}You'll need to send us:{% endtrans %}</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>{% trans %}a copy of the death certificate{% endtrans %}</li>
                        <li>{% trans %}the original LPA{% endtrans %}</li>
                        <li>{% trans %}all certified copies of the LPA{% endtrans %}</li>
                        <li>{% trans %}a return address where your documents can be sent back to{% endtrans %}</li>
                    </ul>
                    <div class="govuk-inset-text">
                        {{ include('@partials/contact-details/address.html.twig') }}
                    </div>
                    <p class="govuk-body">
                        {{ include('@partials/contact-details/email.html.twig') }}
                    </p>
                </div>
            </div>
        </main>
    </div>

{% endblock %}
