{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}TITLE CONTENT HERE{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
<div class="govuk-width-container">

    {{ include('@partials/account-bar.html.twig') }}
    {{ include('@partials/welsh-switch.html.twig') }}

    <div role="navigation" aria-labelledby="back-link-navigation">
        <a href="{{ path('login') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
    </div>

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{% trans %}We would like you to reset your password{% endtrans %}</h1>
                <p> CONTENT HERE </p>

                {{ govuk_form_open(form) }}
                    <fieldset class="govuk-fieldset">

                        {{ govuk_form_element(form.get('__csrf')) }}

                        <input type="hidden" name="email" value="{{ form.get('email').value }}">
                        <input type="hidden" name="email_confirm" value="{{ form.get('email_confirm').value }}">
                        <input type="hidden" name="forced" value="true">

                        <button type="submit" class="govuk-button">
                            {% trans %}Email me the link{% endtrans %}
                        </button>
                    </fieldset>
                {{ govuk_form_close() }}


            </div>
        </div>
    </main>
    {{ include('@actor/partials/new-use-service.html.twig') }}
</div>
{% endblock %}
