{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Change your password{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
<div class="govuk-width-container">

    {{ include('@partials/account-bar.html.twig') }}

    <div role="navigation" aria-labelledby="back-link-navigation">
        <a href="{{ path('login') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
    </div>

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">{% trans %}Change your password{% endtrans %}</h1>
                <p class="govuk-body">Keeping our online services secure is very important to us. We’ve identified a potential security concern that affects a small number of accounts on the Use a lasting power of attorney service.</p>

                <p class="govuk-body">Your password, LPAs and personal data <strong>have not</strong> been accessed.</p>

                <p class="govuk-body">However, as a precaution, you need to change your password. Please do not reuse your old password.</p>

                <p class="govuk-body">We'll email you a link to change your password.</p>

                {{ govuk_form_open(form) }}
                    {{ govuk_form_element(form.get('__csrf')) }}

                    <input type="hidden" name="email" value="{{ form.get('email').value }}">
                    <input type="hidden" name="email_confirm" value="{{ form.get('email_confirm').value }}">
                    <input type="hidden" name="forced" value="true">

                    <button type="submit" class="govuk-button">
                        {% trans %}Email me the link{% endtrans %}
                    </button>
                {{ govuk_form_close() }}
            </div>
        </div>
    </main>
    {{ include('@actor/partials/new-use-service.html.twig') }}
</div>
{% endblock %}
