{% extends '@actor/layout.html.twig' %}

{% block html_title %}Sign in or create an account - {{ parent() }}{% endblock %}

{% block service_name %}Use a lasting power of attorney{% endblock %}

{% block content %}
    {{
    translate_validation_messages(form,
        {
            '__csrf' :
            {
                'notSame'              : 'As you have not used this service for over 20 minutes, the page has timed out. We\'ve now refreshed the page - please try to sign in again' | trans,
            },
            'triageEntry' :
            {
                'isEmpty'              : 'Select yes if you have a Use a lasting power of attorney account' | trans
            }
        })
    }}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{ govuk_error_summary(form) }}
                    {{ govuk_form_open(form) }}

                    <h1 class="govuk-heading-xl">Do you have a Use a lasting power of attorney account?</h1>

                    {{ govuk_form_element(form.get('__csrf')) }}

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="if-new-account">

                            {{ govuk_form_element(form.get('triageEntry'), {'value_options':
                            [
                                {
                                    'label': 'Yes, I already have an account',
                                    'value': 'yes',
                                    'hint' : 'If you made an LPA online, you will still need to create an account to use this service'
                                },
                                {
                                    'label': 'No, this is the first time I’ve used the service',
                                    'value': 'no'
                                }
                            ]}
                            )}}

                        </fieldset>
                    </div>

                    <p class="govuk-body">If you're named on more than one LPA, you can add all those LPAs to your account.</p>

                    <button data-prevent-double-click="true" type="submit" class="govuk-button">Continue</button>
                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>

    </div>
{% endblock %}
