{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Sign in or create an account{% endtrans %} - {{ parent() }}{% endblock %}

{% block service_name %}{% trans %}Use a lasting power of attorney{% endtrans %}{% endblock %}

{% block content %}
<div class="govuk-width-container">

    <div class="govuk-clearfix">
        {{ include('@partials/welsh-switch.html.twig') }}
    </div>

    {{ include('@actor/partials/lpas-registered-after.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{ govuk_error_summary(form) }}
                    {{ govuk_form_open(form) }}

                    <h1 class="govuk-heading-xl">{% trans %}Do you have a Use a lasting power of attorney account?{% endtrans %}</h1>

                    {{ govuk_form_element(form.get('__csrf')) }}

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">

                            {{ govuk_form_element(form.get('triageEntry'), {'value_options':
                            [
                                {
                                    'label': 'Yes, I already have an account'| trans,
                                    'value': 'yes',
                                    'hint' : 'If you made an LPA online, you will still need to create an account to use this service'| trans,
                                },
                                {
                                    'label': 'No, this is the first time I’ve used the service'| trans,
                                    'value': 'no'
                                }
                            ]}
                            )}}

                        </fieldset>
                    </div>

                    <p class="govuk-body">{% trans %}If you're named on more than one LPA, you can add all those LPAs to your account.{% endtrans %}</p>

                    {% if feature_enabled('allow_older_lpas') %}
                        <p class="govuk-body">
                            {% trans %}
                                Adding LPAs registered between 1 January 2016 and 31 August 2019 is on a trial basis only, and may be paused temporarily. However, once your LPA is added you will always be able to use it in this service.
                            {% endtrans %}
                        </p>
                    {% endif %}

                    <button data-prevent-double-click="true" type="submit" class="govuk-button">{% trans %}Continue{% endtrans %}</button>

                    {{ govuk_form_close() }}

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            This service will be unavailable between 3pm on Friday 4 March and 6pm on Sunday 6 March 2022.
                        </strong>
                        <p class="govuk-body-m govuk-!-padding-left-7">If you need to use your lasting power of attorney during this time you can still use the paper LPA document.</p>
                    </div>
                </div>
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
