{% extends '@actor/layout.html.twig' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    <a href="{{ path('home') }}"class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govuk_error_summary(form) }}

                {{ govuk_form_open(form) }}

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Sign in to your Use a lasting power of attorney account
                            </h1>
                        </legend>

                        <p class="govuk-body">If you made an <abbr title="lasting power of attorney">LPA</abbr> online, you'll still need to <a href="{{ path('create-account') }}" class="govuk-link">make an account</a> to use this service.</p>

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('email'), { 'label': 'Email address', 'attr': { 'class': 'govuk-!-width-one-half' } }) }}

                        {{ govuk_form_element(form.get('password'), { 'label': 'Password', 'attr': { 'class': 'govuk-!-width-one-half', 'auto-complete': 'current-password' } }) }}

                        <button data-prevent-double-click="true" name="sign-in" type="submit" class="govuk-button">Sign in</button>

                    </fieldset>

                {{ govuk_form_close() }}

                <a href="{{ path('password-reset') }}" class="govuk-body govuk-link">Forgotten your password?</a>
            </div>

        </div>

    </main>
</div>
{% endblock %}
