{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We could not find an account with that email and password{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{% trans %}We could not find an account with that email and password{% endtrans %}</h1>

                    <p class="govuk-body-l">{% trans %}If you’re sure you have a Use a lasting power of attorney account, you can try to sign in again{% endtrans %}</p>

                    <h2 class="govuk-heading-l">{% trans %}If you made an LPA online{% endtrans %}</h2>

                    <p class="govuk-body">{% trans %}If you made an LPA online, you cannot sign in using your Make a lasting power of attorney details. You need to create a separate account to use an LPA online{% endtrans %}</p>

                    <a href="{{ path('login') }}" draggable="false" class="govuk-button">{% trans %}Try again{% endtrans %}</a>

                    <a href="{{ path('create-account') }}" draggable="false" class="govuk-button govuk-button--secondary">{% trans %}Create an account{% endtrans %}</a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
