{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Sign in to your Use a lasting power of attorney account{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    {{ include('@partials/welsh-switch.html.twig') }}

    <div role="navigation" aria-labelledby="back-link-navigation">
        <a href="{{ path('home') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
    </div>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govuk_error_summary(form) }}

                {{ govuk_form_open(form) }}

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                {% trans %}Sign in to your Use a lasting power of attorney account{% endtrans %}
                            </h1>
                        </legend>

                        <div class="govuk-warning-text govuk-!-margin-top-4">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">Warning</span>
                                {% trans with {'%link%': path('create-account')} %}If you made an <abbr title="lasting power of attorney"> LPA </abbr> online, you'll still need to <a href="%link%" class="govuk-link">create a seperate account</a> to use this service.{% endtrans %}
                            </strong>
                        </div>

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('email'), { 'label': 'Email address' | trans, 'attr': { 'class': 'govuk-!-width-three-quarters' } })  }}

                        <div class="js-showhidepassword">
                            {{ govuk_form_element(form.get('password'), {
                                'label': 'Password' | trans,
                                'attr': { 'class': 'govuk-input--width-20 govuk-input moj-password-reveal__input', 'auto-complete': 'current-password' }
                            })  }}
                        </div>

                        <button data-prevent-double-click="true" name="sign-in" type="submit" class="govuk-button">{% trans %}Sign in{% endtrans %}</button>

                    </fieldset>

                {{ govuk_form_close() }}

                <a href="{{ path('password-reset') }}" class="govuk-body govuk-link">{% trans %}Forgotten your password?{% endtrans %}</a>
            </div>

        </div>

    </main>
</div>
{% endblock %}
