{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Your lasting powers of attorney{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ include('@actor/partials/flash-message.html.twig', {flash_obj: flash, flash_key:'Actor\\Handler\\RemoveLpaHandler::REMOVE_LPA_FLASH_MSG'}) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">{% trans %}Your lasting powers of attorney{% endtrans %}</h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body-l">{% trans %}Any lasting power of attorney (LPA) you add to your account will show on this page.{% endtrans %}</p>

                    <p class="govuk-body-m">{% trans %}Find out about <a href="https://www.gov.uk/lasting-power-attorney-duties" class="govuk-link">the role of an attorney</a> and how to support the donor <a href="https://www.gov.uk/make-decisions-for-someone/making-decisions" class="govuk-link">to make decisions</a>.{% endtrans %}</p>

                    <details class="govuk-details" data-module="govuk-details" data-gaEventType="onClick" data-gaAction="Details" data-gaCategory="Service Information" data-gaLabel="What can I do with this service?">
                        <summary class="govuk-details__summary" role="button" >
                        <span class="govuk-details__summary-text">
                          {% trans %}What can I do with this service?{% endtrans %}
                        </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>{% trans %}Use this service to:{% endtrans %}</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>{% trans %}give organisations access to an online summary of an <abbr title="lasting power of attorney">LPA</abbr> by making a secure access code{% endtrans %}</li>
                                <li>{% trans %}keep track of the organisations that have online access to an <abbr title="lasting power of attorney">LPA</abbr>{% endtrans %}</li>
                                <li>{% trans %}view an <abbr title="lasting power of attorney">LPA</abbr> summary{% endtrans %}</li>
                                <li>{% trans %}ask for an activation key if you have not been given one - or it has expired{% endtrans %}</li>
                            </ul>
                        </div>
                    </details>

                    <a href="{{ path('lpa.add') }}" draggable="false" class="govuk-button">
                        {% trans %}Add your first LPA{% endtrans %}
                    </a>

                </div>
            </div>

        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
