{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Which organisation do you want to give access to{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/account-bar.html.twig') }}
        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back to your LPAs{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-padding-bottom-0">

                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l govuk-!-margin-top-0">{{ lpa.caseSubtype == 'pfa' ? 'Property and finance' | trans : 'Health and welfare' | trans  }}</span>
                    <span class="govuk-heading-l govuk-!-margin-bottom-3">{{ actor_name(lpa.donor, false) }}</span>
                </div>

            </div>

            {{ include('@actor/partials/lpa-sub-navigation.html.twig') }}

            <div class="govuk-grid-row">
                {{ govuk_form_open(form) }}
                <div class="govuk-grid-column-two-thirds">

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('lpa_token')) }}

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                {% trans %}Which organisation do you want to give access to?{% endtrans %}
                            </h1>
                        </legend>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    {% if lpa.caseSubtype|lower == 'hw' %}
                        <p class="govuk-body">{% trans %}The organisation could be a hospital, care home, or other health care provider.{% endtrans %}</p>
                    {% elseif lpa.caseSubtype|lower == 'pfa' %}
                        <p class="govuk-body">{% trans %}The organisation could be a bank, energy provider, or another business.{% endtrans %}</p>
                    {% endif %}

                    {{ govuk_form_element(form.get('org_name'), {
                        'label': 'Organisation name' | trans,
                        'hint': 'This is for your reference only' | trans,
                        'attr' : {'class': 'govuk-!-width-three-quarters'}
                    }) }}

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">{% trans %}Warning{% endtrans %}</span>
                            {% trans %}This is a new service, check that the organisation will accept an online summary of the <abbr title="lasting power of attorney">LPA</abbr> and how they want to receive the access code you make for them.{% endtrans %}
                        </strong>
                    </div>

                    <button data-prevent-double-click="true" type="submit" class="govuk-button">
                        {% trans %}Continue{% endtrans %}
                    </button>

                </div>
                {{ govuk_form_close() }}
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
