{% extends '@actor/layout.html.twig' %}

{% block html_title %}Add a lasting power of attorney - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    {{ include('@partials/account-bar.html.twig') }}

    <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govuk_error_summary(form) }}

                <h1 class="govuk-heading-l">Add a lasting power of attorney</h1>

                <p class="govuk-body">You'll need the details from the letter we sent you when the LPA was registered.</p>

                {{ govuk_form_open(form) }}

                    {{ govuk_form_element(form.get('__csrf')) }}

                    {{ govuk_form_element(form.get('passcode'), { 'label': 'activation code', 'hint': 'Activation codes are 13 characters long and start with a C', 'input_prefix': 'C - ', 'attr' : {'class': 'govuk-input--width-10'} }) }}

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Where to find your activation code
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>Your axctivation code is printed on the letter that told you the LPA had been registered. The donor and each attorney will have their own activation code.</p>
                            <p>
                                If you cannot find it, please call us:<br/>
                                Telephone: 0300 456 0300<br/>
                                Textphone: 0115 934 2778<br/>
                                Monday, Tuesday, Thursday, Friday 9am to 5pm<br/>
                                Wednesday 10am to 5pm
                            </p>
                        </div>
                    </details>

                    {{ govuk_form_element(form.get('reference_number'), { 'label': 'LPA reference number', 'hint': 'Reference numbers are 12 numbers long', 'attr' : {'class': 'govuk-input--width-20'} }) }}

                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                Where to find the reference number
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>The reference number is printed on the letter that told you the LPA had been registered.</li>
                                <li>You can also find the reference number on the LPA or any related letters from the Office of the Public Guardian.</li>
                                <li>It may be marked 'OPG reference number' or 'Our ref' or 'Case number'.</li>
                            </ul>

                        </div>
                    </details>

                    {{ govuk_form_fieldset(form.get('dob'), { 'label': 'What is your date of birth?', 'hint': 'For example, 31 03 1980', 'attr': {'class': 'xyz'} }) }}

                    <button type="submit" class="govuk-button govuk-!-margin-right-1">Continue</button>

                    <button type="submit" class="govuk-button govuk-button--secondary">Cancel</button>

                {{ govuk_form_close() }}

            </div>

        </div>

    </main>
</div>
{% endblock %}
