{% extends '@actor/layout.html.twig' %}

{% block html_title %}Add a lasting power of attorney - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l">{{ lpa.caseSubtype == 'pfa' ? 'Property and finance' : 'Health and welfare' }}</span>
                    <h1 class="govuk-heading-l">{{ actor_name(lpa.donor, false) }}</h1>
                </div>
            </div>

            {{ include('@actor/partials/lpa-sub-navigation.html.twig') }}

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">

                        <div class="govuk-panel govuk-panel--confirmation push-bottom">
                            <h1 class="govuk-panel__title">
                               {{ add_hyphen_to_viewer_code(code) }}
                            </h1>

                            <div class="govuk-panel__body">
                                Give this access code to {{ organisation }}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body">Ask {{ organisation }} how they want you to give them the code. This code expires in 30 days, on {{ expires | date ('jS F Y') }}.</p>

                        <div class="govuk-inset-text">
                            <p class="govuk-body-s">
                                They should then go to https://view.lastingpowerofattorney.opg.service.justice.gov.uk to use it.
                            </p>
                        </div>

                        <a href="{{ path('lpa.create-code', {}, {'lpa': actorToken }) }}" role="button" draggable="false" class="govuk-button govuk-button">
                            Give another organisation access
                        </a>
                    </div>
                </div>
        </main>
    </div>
{% endblock %}
