{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We could not find an LPA{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}We could not find a lasting power of attorney{% endtrans %}</h1>

                    <p class="govuk-body">{% trans %}This could be because the:{% endtrans %}</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            {% trans %}activation key you entered is incorrect{% endtrans %}
                        </li>

                        <li>
                            {% trans with {'%link%': path('lpa.add-by-paper-information')} %}
                                activation key has expired or has already been used - you can <a href="%link%" class="govuk-link">request a new key</a>{% endtrans %}
                        </li>

                        <li>
                            {% trans %}date of birth you entered does not match our records{% endtrans %}
                        </li>

                        <li>
                            {% trans %}LPA reference number you entered is incorrect or for a different LPA{% endtrans %}
                        </li>
                    </ul>

                    <table class="govuk-table">
                        <caption class="govuk-table__caption">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">
                                {% trans %} Your answers {% endtrans %}
                            </h3>
                        </caption>

                        <tbody class="govuk-table__body ">
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">{% trans %}Activation Key{% endtrans %}</th>
                                <td class="govuk-table__cell">C-{{ activation_key }}</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">{% trans %}Date of birth{% endtrans %}</th>
                                <td class="govuk-table__cell">{{ lpa_date(dob) }}</td>
                            </tr>

                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">{% trans %}LPA reference number{% endtrans %}</th>
                                <td class="govuk-table__cell">{{ referenceNumber }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <p class="govuk-body">{% trans %}If you’re sure you entered the correct information, contact us.{% endtrans %}</p>

                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-4">{% trans %}Email{% endtrans %}</h3>
                    <p class="govuk-body">
                        <a class="govuk-link" href="https://www.gov.uk/call-charges">customerservice@publicguardian.gov.uk</a>
                    </p>

                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-4">{% trans %}Telephone{% endtrans %}</h3>
                    <p class="govuk-body">
                        {% trans %}Telephone: <a class="govuk-link" href="tel:03004560300">0300 456 0300</a><br>
                            Textphone: 0115 934 2778 <br>
                            Monday to Friday, 9:00am to 5pm, except Wednesday, 10am to 5pm{% endtrans %}
                        <br>
                        <a class="govuk-link" href="https://www.gov.uk/call-charges">{% trans %}Find out about call charges{% endtrans %}</a>
                    </p>

                    <a href="{{ path('lpa.add') }}" role="button" draggable="false" class="govuk-button">
                        {% trans %}Try again{% endtrans %}
                    </a>

                    <a href="{{ path('lpa.dashboard') }}" role="button" draggable="false"
                       class="govuk-button moj-button-menu__item govuk-button--secondary "
                       data-module="govuk-button">
                        {% trans %}Back to your LPAs{% endtrans %}
                    </a>

                </div>
            </div>
        </main>
    </div>
{% endblock %}
