{% extends '@actor/layout.html.twig' %}

{% block html_title %}Give an organisation access - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link">Back to your LPAs</a>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-padding-bottom-0">

                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l govuk-!-margin-top-0">{{ lpa.caseSubtype == 'pfa' ? 'Property and finance' : 'Health and welfare' }}</span>
                    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ actor_name(lpa.donor, false) }}</h1>
                </div>

            </div>

            {{ include('@actor/partials/lpa-sub-navigation.html.twig') }}

            <div class="govuk-grid-row">
                {{ govuk_form_open(form) }}
                <div class="govuk-grid-column-two-thirds">

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('lpa_token')) }}

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Which organisation do you want to give access to?
                            </h1>
                        </legend>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    {% if lpa.caseSubtype|lower == 'hw' %}
                        <p class="govuk-body">The organisation could be a hospital, care home, or other health care provider.</p>
                    {% elseif lpa.caseSubtype|lower == 'pfa' %}
                        <p class="govuk-body">The organisation could be a bank, energy provider, or another business.</p>
                    {% endif %}

                    <p class="govuk-body">Email <a href="mailto:lpa.research@digital.justice.gov.uk">lpa.research@digital.justice.gov.uk</a> to find out if the organisation is taking part in the trial and how to give them the access code. If you need to show the <abbr title="lasting power of attorney">LPA</abbr> to more than one organisation, list the organisations in one email.</p>

                    {{ govuk_form_element(form.get('org_name'), { 'label': 'Organisation name', 'hint': 'This is for your reference only', 'attr' : {'class': 'govuk-!-width-one-half'} }) }}

                </div>
                {{ govuk_form_close() }}
            </div>
        </main>
    </div>
{% endblock %}
