{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Your lasting powers of attorney{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            {{ include('@actor/partials/flash-message.html.twig', {flash_obj: flash, flash_key:'Actor\\Handler\\CheckLpaHandler::ADD_LPA_FLASH_MSG'}) }}
            {{ include('@actor/partials/flash-message.html.twig', {flash_obj: flash, flash_key:'Actor\\Handler\\RemoveLpaHandler::REMOVE_LPA_FLASH_MSG'}) }}

            {{ include('@actor/partials/service-message.html.twig') }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">{% trans %}Your lasting powers of attorney{% endtrans %}</h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body-l">{% trans %}Any lasting power of attorney (LPA) you add to your account will appear on this page.{% endtrans %}</p>

                    <p class="govuk-body-m">
                        {% trans with {
                            '%link1_en%': 'https://www.gov.uk/lasting-power-attorney-duties',
                            '%link1_cy%': 'https://www.gov.uk/atwrneiaeth-arhosol',
                            '%link2_en%': 'https://www.gov.uk/make-decisions-for-someone/making-decisions',
                            '%link2_cy%': 'https://www.gov.uk/gwneud-penderfyniadau-dros-rywun/gwneud-penderfyniadau'
                        } %}
                            Find out about <a href="%link1_en%" class="govuk-link">the role of attorney</a> and how they support donors <a href="%link2_en%" class="govuk-link">to make decisions.</a>
                        {% endtrans %}
                    </p>
                    <details class="govuk-details" data-module="govuk-details" data-gaEventType="onClick" data-gaAction="Details" data-gaCategory="Service Information" data-gaLabel="What can I do with this service?">
                        <summary class="govuk-details__summary" role="button" >
                            <span class="govuk-details__summary-text">
                              {% trans %}What can I do with this service?{% endtrans %}
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p>{% trans %}Use this service to:{% endtrans %}</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>{% trans %}give organisations access to an online summary of an <abbr title="lasting power of attorney">LPA</abbr> by making a secure access code{% endtrans %}</li>
                                <li>{% trans %}keep track of the organisations that have online access to an <abbr title="lasting power of attorney">LPA</abbr>{% endtrans %}</li>
                                <li>{% trans %}view an <abbr title="lasting power of attorney">LPA</abbr> summary, including a scanned image of any restrictions and conditions (can also be known as “preferences and instructions” depending on when the LPA was made){% endtrans %}</li>
                                <li>{% trans %}ask for an activation key if you have not been given one - or it has expired{% endtrans %}</li>
                            </ul>
                        </div>
                    </details>

                    <a href="{{ path('lpa.add') }}" draggable="false" class="govuk-button">
                        {% if total_lpas > 0 %}
                            {% trans %}Add another LPA{% endtrans %}
                        {% else %}
                            {% trans %}Add your first LPA{% endtrans %}
                        {% endif %}
                    </a>
                </div>
            </div>

            {% if total_lpas > 0 %}
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-body govuk-!-margin-bottom-0">
                            {% trans count total_lpas %}You have %count% LPA in your account | You have %count% LPAs in your account{% endtrans %}
                        </p> <br>

                        {#Warning about duplicate LPAs here...  #}
                        {% if has_duplicate_lpas %}
                        <div class="moj-banner" role="region" aria-label="information">
                            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                                <path d="M13.7,18.5h-2.4v-2.4h2.4V18.5z M12.5,13.7c-0.7,0-1.2-0.5-1.2-1.2V7.7c0-0.7,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2v4.8
                                C13.7,13.2,13.2,13.7,12.5,13.7z M12.5,0.5c-6.6,0-12,5.4-12,12s5.4,12,12,12s12-5.4,12-12S19.1,0.5,12.5,0.5z" />
                            </svg>
                            <div class="moj-banner__message">
                                <h2 class="govuk-heading-s">
                                    {% trans %}Your account contains duplicate LPAs{% endtrans %}
                                </h2>

                                <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-left-12">{% trans %}You might find it easier to manage your account by removing duplicate LPAs.{% endtrans %}</p>
                                <p class="govuk-body">{% trans %}It doesn’t matter which LPA you remove but it would be more accurate to keep those that show as added by you, especially when creating access codes for organisations.{% endtrans %}</p>
                                <p class="govuk-body">{% trans %}Removing duplicate LPAs is optional.{% endtrans %}</p>
                            </div>
                        </div>
                        {% endif %}


                        {% for donorName, token in lpas %}
                            <h2 class="govuk-heading-l govuk-!-margin-top-5 govuk-!-margin-bottom-3">{{ donor_name_with_dob_removed(donorName) }}</h2>
                            {% for lpaData in token %}
                                {% set lpa = lpaData['lpa'] %}
                                {% set actorToken = lpaData['user-lpa-actor-token'] %}
                                {% set actorActive = lpaData['actorActive'] %}
                                {% set activeCodeCount = lpaData['activeCodeCount'] %}
                                {% set shareCodes = lpaData['shareCodes'] %}
                                {% set caseSubtype = lpa.caseSubtype == 'pfa' ? 'Property and finance'|trans : 'Health and welfare'|trans %}
                                {% if feature_enabled("support_datastore_lpas") %}
                                    {% set caseSubtype = lpa.caseSubtype.value == 'pfa' ? 'Property and finance'|trans : 'Health and welfare'|trans %}
                                {% endif %}
                                {% set applicationHasRestrictions = lpa.applicationHasRestrictions %}
                                {% set applicationHasGuidance = lpa.applicationHasGuidance %}
                                {% set lpaDonorSignatureDate = lpa.lpaDonorSignatureDate %}
                                {% set lpaReference = lpa.uId %}
                                {% set lpaActor = lpaData['actor']['details'] %}

                                <article class="moj-ticket-panel" aria-label="Added lpa list">
                                    {% if actorActive %}
                                        {% if lpa.status|lower == 'registered' %}
                                            <section class="moj-ticket-panel__content moj-ticket-panel__content--blue" aria-label="Registered lpa section">
                                                {{ include('@actor/partials/lpa-details.html.twig') }}
                                            </section>
                                        {% elseif lpa.status|lower == 'cancelled' %}
                                            <section class="moj-ticket-panel__content moj-ticket-panel__content--red" aria-label="Cancelled lpa section">
                                                {{ include('@actor/partials/lpa-details.html.twig') }}
                                            </section>
                                        {% endif %}
                                    {% else %}
                                        <section class="moj-ticket-panel__content moj-ticket-panel__content--grey" aria-label="Inactive actor on lpa section">
                                            {{ include('@actor/partials/lpa-details.html.twig') }}
                                        </section>
                                    {% endif %}
                                </article>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}
