{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Your new access code{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link">{% trans %}Back to your LPAs{% endtrans %}</a>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <span class="govuk-caption-l">{{ lpa.caseSubtype == 'pfa' ? 'Property and finance' | trans : 'Health and welfare' | trans  }}</span>
                  <span class="govuk-heading-l govuk-!-margin-bottom-3">{{ actor_name(lpa.donor, false) }}</span>
                </div>
            </div>

            {{ include('@actor/partials/lpa-sub-navigation.html.twig') }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="moj-banner moj-banner--success govuk-panel--fixButton">
                        <div class="moj-banner__message govuk-panel govuk-!-padding-1">
                            <h1 class="govuk-panel__body govuk-!-margin-top-0 govuk-!-margin-bottom-2">
                                {% trans with {'%organisation%': organisation } %}Give this access code to %organisation% {% endtrans %}
                            </h1>
                            <span class="govuk-panel__title">
                                {{ add_hyphen_to_viewer_code(code) }}
                            </span>
                            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-3">{% trans with {'%date%': expires | date ('j F Y')} %}This code expires in 30 days, on %date%.{% endtrans %}</p>
                            <div class="js-accesscodecopy">
                                <input readonly type="text" value="{{ add_hyphen_to_viewer_code(code) }}" class="js-accesscodecopy-value offscreen" aria-hidden="true">
                                <button class="js-accesscodecopy-button govuk-button govuk-button__copy">
                                    <span class="js-accesscodecopy-default">{% trans %}Copy code{% endtrans %}</span>
                                    <span class="js-accesscodecopy-success hide">{% trans %}Code copied{% endtrans %}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-body-l govuk-!-font-weight-bold">{% trans %}What happens next?{% endtrans %}</h2>

                    <p class="govuk-body">{% trans with {'%organisation%': organisation} %}You’ll need to give %organisation% this access code - ask them how they want to receive it so it gets to the right person.{% endtrans %}</p>

                    <p class="govuk-body">{% trans with {'%organisation%': organisation} %}When %organisation% have the access code, they should go to <br> www.gov.uk/view-lpa to see a summary of the LPA.{% endtrans %}</p>

                    <a href="{{ path('lpa.create-code', {}, {'lpa': actorToken }) }}" role="button" draggable="false" class="govuk-button govuk-button">
                            {% trans %}Give another organisation access{% endtrans %}
                    </a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
