{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Your lasting powers of attorney{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    {{ include('@partials/account-bar.html.twig') }}

    {{ include('@partials/welsh-switch.html.twig') }}

    <main class="govuk-main-wrapper" id="main-content" role="main">

        {{ include('@actor/partials/flash-message.html.twig', {'flash': flash, 'flash_key':'Actor\\Handler\\CheckLpaHandler::ADD_LPA_FLASH_MSG'}) }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">{% trans %}Your lasting powers of attorney{% endtrans %}</h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body-l">{% trans %}Any lasting power of attorney (LPA) you add to your account will appear on this page.{% endtrans %}</p>

                <p class="govuk-body-m">{% trans %}Find out about <a href="https://www.gov.uk/lasting-power-attorney-duties" class="govuk-link">the role of an attorney</a> and how to support the donor <a href="https://www.gov.uk/make-decisions-for-someone/making-decisions" class="govuk-link">to make decisions</a>.{% endtrans %}</p>

                <details class="govuk-details" data-module="govuk-details" {% if active_access_codes_count is same as(0) %} open {% endif %} >
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                          {% trans %}What can I do with <abbr title="lasting powers of attorney">this service</abbr>?{% endtrans %}
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        <p>{% trans %}Use this service to:{% endtrans %}</p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{% trans %}give organisations access to an online summary of this <abbr title="lasting power of attorney">LPA</abbr> by making a secure access code{% endtrans %}</li>
                            <li>{% trans %}keep track of which organisations have been given online access to the <abbr title="lasting power of attorney">LPA</abbr>{% endtrans %}</li>
                            <li>{% trans %}view the <abbr title="lasting power of attorney">LPA</abbr> summary{% endtrans %}</li>
                        </ul>
                    </div>
                </details>

                <a href="{{ path('lpa.add') }}" draggable="false" class="govuk-button">
                    {% trans %}Add another LPA{% endtrans %}
                </a>

            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                {% for lpaData in lpas %}
                    {% set lpa = lpaData['lpa'] %}
                    {% set actorToken = lpaData['user-lpa-actor-token'] %}
                    {% set actorActive = lpaData['actorActive'] %}
                    {% set activeCodeCount = lpaData['activeCodeCount'] %}
                    {% set caseSubtype = lpa.caseSubtype == 'pfa' ? 'Property and finance'| trans : 'Health and welfare'| trans %}
                    {% set applicationHasRestrictions = lpa.applicationHasRestrictions %}
                    {% set applicationHasGuidance = lpa.applicationHasGuidance %}
                    {{ include('@actor/partials/lpa-details.html.twig') }}
                {% endfor %}

            </div>
        </div>

    </main>
</div>
{% endblock %}
