{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Your new access code{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back to your LPAs{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <span class="govuk-caption-l">{{ lpa.caseSubtype == 'pfa' ? 'Property and finance' | trans : 'Health and welfare' | trans  }}</span>
                  <span class="govuk-heading-l govuk-!-margin-bottom-3">{{ actor_name(lpa.donor, false) }}</span>
                </div>
            </div>

            {{ include('@actor/partials/lpa-sub-navigation.html.twig') }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="moj-banner moj-banner--success">
                        <div class="moj-banner__message govuk-panel govuk-!-padding-1">
                            <div class="js-accesscodecopy govuk-button__position govuk-!-display-inline-block">
                                <label>
                                    <input readonly type="text" value="{{ add_hyphen_to_viewer_code(code) }}" class="js-accesscodecopy-value offscreen" aria-hidden="true" tabindex="-1">
                                </label>
                                <button class="js-accesscodecopy-button govuk-button govuk-button__copy">
                                    <span class="js-accesscodecopy-default">{% trans %}Copy code{% endtrans %}</span>
                                    <span class="js-accesscodecopy-success hide">{% trans %}Code copied{% endtrans %}</span>
                                </button>
                            </div>
                            <h1 class="govuk-panel__body govuk-!-margin-top-0 govuk-!-margin-bottom-2">
                                {% trans with {'%organisation%': organisation } %}Give this access code to %organisation%{% endtrans %}
                            </h1>
                            <span class="govuk-panel__title">
                                {{ add_hyphen_to_viewer_code(code) }}
                            </span>
                            <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-3">{% trans with {'%date%': lpa_date(expires)} %}This code expires in 30 days, on %date%.{% endtrans %}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-body-l govuk-!-font-weight-bold">{% trans %}What to do next{% endtrans %}</h2>

                    <p class="govuk-body">{% trans with {'%organisation%': organisation} %}Give %organisation% this access code. They should go to www.gov.uk/view-lpa to enter the access code and see a summary of the <abbr title="lasting power of attorney">LPA</abbr>.{% endtrans %}</p>

                    {% if lpa.caseSubtype == 'pfa' %}
                        {% if actorRole == 'Attorney' %}
                            <p class="govuk-body">
                                {% trans with {'%organisation%': organisation} %}
                                    %organisation% may ask you for other information, such as "%donorFirstName%'s" account details, and your name and contact details. They may also ask you to confirm your identity. This is to protect %donorFirstName% and prevent fraud.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        {% if actorRole == 'Donor' %}
                            <p class="govuk-body">
                                {% trans with {'%organisation%': organisation} %}
                                    %organisation% may ask you for other information, such as your customer account details, your attorney's contact details and so on.
                                {% endtrans %}
                            </p>
                        {% endif %}
                    {% elseif lpa.caseSubtype == 'hw'  %}
                        {% if actorRole == 'Attorney' %}
                            <p class="govuk-body">
                                {% trans with {'%organisation%': organisation} %}
                                    %organisation% may ask you for other information, such as "%donorFirstName%'s" NHS number, your contact details and so on.
                                {% endtrans %}
                            </p>
                        {% endif %}
                        {% if actorRole == 'Donor' %}
                            <p class="govuk-body">
                                {% trans with {'%organisation%': organisation} %}
                                    %organisation% may ask you for other information, such as your NHS number, your attorney's contact details and so on.
                                {% endtrans %}
                            </p>
                        {% endif %}
                    {% endif %}
                    {% if is_donor_signature_date_too_old(lpa) %}
                        <p class="govuk-body">
                            {% trans %}If there are instructions/preferences/instructions and preferences on this LPA, you may also be asked to show the paper LPA.{% endtrans %}
                        </p>
                    {% elseif lpa.applicationHasRestrictions or lpa.applicationHasGuidance %}
                            <p class="govuk-body">
                                {% trans %}As there are instructions/preferences/instructions and preferences on this LPA, you may also be asked to show the paper LPA.{% endtrans %}
                            </p>
                    {% endif %}

                    <a href="{{ path('lpa.create-code', {}, {'lpa': actorToken }) }}" role="button" draggable="false" class="govuk-button govuk-button">
                            {% trans %}Give another organisation access{% endtrans %}
                    </a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
