{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}We could not find an LPA{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}We could not find an LPA with that reference number{% endtrans %}</h1>

                    <p class="govuk-body-l">{% trans %}LPA reference number: {% endtrans %} {{ lpa_reference_number }} </p>
                    <p class="govuk-body">{% trans %}We could not find a lasting power of attorney with the information you entered.{% endtrans %}</p>

                    <h2 class="govuk-heading-m">{% trans %}Did you give us the right LPA reference number?{% endtrans %}</h2>

                    <p class="govuk-body">
                        {% trans %}
                            You'll find the reference number on the LPA and at the top of any letter you've received from us about the LPA.
                            If you do not have the LPA or have not kept any letters, check with someone else named on the LPA.
                        {% endtrans %}
                    </p>

                    <p class="govuk-body">{% trans %}If you're sure you entered the right information, please call us:{% endtrans %}</p>
                    {{ include('@partials/contact-details/telephone.html.twig') }}


                    <a href="{{ path('lpa.add') }}" role="button" draggable="false" class="govuk-button govuk-">
                        {% trans %}Try again{% endtrans %}
                    </a>

                </div>
            </div>

        </main>

    </div>
{% endblock %}
