{% extends '@actor/layout.html.twig' %}

{% block html_title %}Change your password - {{ parent() }} {% endblock %}

{% block content %}
    {{
    translate_validation_messages(form,
        {
            '__csrf' :
            {
                'notSame'              : 'As you have not used this service for over 20 minutes, the page has timed out. We\'ve now refreshed the page - please try to sign in again' | trans,
            },
            'current_password' :
            {
                'isEmpty'              : 'Enter your current password' | trans,
                'invalidPassword'      : 'Current password is incorrect' | trans,
            },
            'new_password' :
            {
                'isEmpty'              : 'Enter your new password' | trans,
                'stringLengthTooShort' : 'Enter your new password' | trans,
                'notSame'              : 'New password and confirm new password do not match' | trans,
                'mustIncludeDigit'     : 'Password must include a number' | trans,
                'mustIncludeLowerCase' : 'Password must include a lower case letter' | trans,
                'mustIncludeUpperCase' : 'Password must include a capital letter' | trans,
            },
            'new_password_confirm' :
            {
                'isEmpty'              : 'Enter your password again to confirm it' | trans
            }
        })
    }}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        <a href="{{ path('your-details') }}" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                    {{ govuk_error_summary(form) }}

                    {{ govuk_form_open(form) }}

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                Change your password
                            </h1>
                        </legend>

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-half">

                                {{ govuk_form_element(form.get('__csrf')) }}

                                <p class="govuk-body">Your password needs to have:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                    <li>at least 8 characters</li>
                                    <li>at least one lower-case and one capital letter</li>
                                    <li>at least one number</li>
                                </ul>

                                <p class="govuk-body">Never share your password with anyone.</p>

                                {{ govuk_form_element(form.get('current_password'), { 'label': 'Current password' }) }}

                                {{ govuk_form_element(form.get('new_password'), { 'label': 'New password' }) }}

                                {{ govuk_form_element(form.get('new_password_confirm'), { 'label': 'Confirm new password' }) }}

                                <button data-prevent-double-click="true" type="submit" class="govuk-button">Change password</button>

                            </div>

                        </div>

                    </fieldset>

                    {{ govuk_form_close() }}

                </div>

            </div>

        </main>
    </div>
{% endblock %}
