{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Change your password{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">

        {{ include('@partials/account-bar.html.twig') }}
        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('your-details') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    {{ govuk_error_summary(form) }}
                    {{ govuk_form_open(form) }}

                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">{% trans %}Change your password{% endtrans %}</h1>
                        </legend>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">

                                {{ govuk_form_element(form.get('__csrf')) }}

                                <p class="govuk-body">{% trans %}Your password needs to have at least:{% endtrans %}</p>

                                <ul class="govuk-list govuk-list--bullet">
                                    <li>{% trans %}8 characters{% endtrans %}</li>
                                    <li>{% trans %}1 lower-case and 1 capital letter{% endtrans %}</li>
                                    <li>{% trans %}1 number{% endtrans %}</li>
                                </ul>
                                <p class="govuk-body">{% trans %}Never share your password with anyone.{% endtrans %}</p>

                                {{ govuk_form_element(form.get('current_password'), {
                                    'label': 'Current password'| trans,
                                    'attr': { 'class': 'govuk-input moj-password-reveal__input' }
                                })
                                }}
                                {{ govuk_form_element(form.get('new_password'), {
                                    'label': 'New password'| trans,
                                    'attr': { 'class': 'govuk-input moj-password-reveal__input' }
                                })
                                }}

                                <button data-prevent-double-click="true" type="submit" class="govuk-button">{% trans %}Change password{% endtrans %}</button>
                            </div>
                        </div>
                    </fieldset>

                    {{ govuk_form_close() }}

                </div>
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
