{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Change your password{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('home') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                    {{ govuk_error_summary(form) }}

                    {{ govuk_form_open(form) }}

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {% trans %}Change your password{% endtrans %}
                            </h1>
                        </legend>

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-half">

                                {{ govuk_form_element(form.get('__csrf')) }}

                                <p class="govuk-body">{% trans %}Your password needs to have:{% endtrans %}</p>

                                <ul class="govuk-list govuk-list--bullet">
                                    <li>{% trans %}at least 8 characters{% endtrans %}</li>
                                    <li>{% trans %}at least one lower-case and one capital letter{% endtrans %}</li>
                                    <li>{% trans %}at least one number{% endtrans %}</li>
                                </ul>

                                <p class="govuk-body">{% trans %}Never share your password with anyone.{% endtrans %}</p>

                                {{ govuk_form_element(form.get('password'), { 'label': 'Password' |trans  }) }}

                                {{ govuk_form_element(form.get('password_confirm'), { 'label': 'Confirm Password' |trans  }) }}

                                <button data-prevent-double-click="true" type="submit" class="govuk-button">{% trans %}Change password{% endtrans %}</button>

                            </div>

                        </div>

                    </fieldset>

                    {{ govuk_form_close() }}

                </div>

            </div>

        </main>
    </div>
{% endblock %}
