{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Reset your password{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    {{ include('@partials/welsh-switch.html.twig') }}

    <a href="{{ path('login') }}" class="govuk-back-link">{% trans %}Back{% endtrans %}</a>

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {{ govuk_error_summary(form) }}

                <form method="post" name="create_account">
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                {% trans %}Reset your password{% endtrans %}
                            </h1>
                        </legend>

                        <p class="govuk-body">{% trans %}Enter your email address below. If there's an account associated with the address, we'll send you a link to reset your password.{% endtrans %}</p>

                        <input type="hidden" name="__csrf" value="{{ form.get('__csrf').value }}">

                        {{ govuk_form_element(form.get('email'), { 'label': 'Email address'|trans, 'attr': { 'class': 'govuk-!-width-two-thirds' } }) }}

                        {{ govuk_form_element(form.get('email_confirm'), { 'label': 'Confirm your email address'|trans, 'attr': { 'class': 'govuk-!-width-two-thirds' } }) }}

                        <button type="submit" class="govuk-button">
                            {% trans %}Email me the link{% endtrans %}
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
