{% extends '@actor/layout.html.twig' %}

{% block html_title %}Change your password - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        <a href="/" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-full">

                    {{ govuk_error_summary(form) }}

                    {{ govuk_form_open(form) }}

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Change your password
                            </h1>
                        </legend>

                        <div class="govuk-grid-row">

                            <div class="govuk-grid-column-one-half">

                                {{ govuk_form_element(form.get('__csrf')) }}

                                <p class="govuk-body">Your password needs to have:</p>

                                <ul class="govuk-list govuk-list--bullet">
                                    <li>at least 8 characters</li>
                                    <li>at least one lower-case and one capital letter</li>
                                    <li>at least one number</li>
                                </ul>

                                <p class="govuk-body">Never share your password with anyone.</p>

                                {{ govuk_form_element(form.get('password'), { 'label': 'Password' }) }}

                                {{ govuk_form_element(form.get('password_confirm'), { 'label': 'Confirm Password' }) }}

                                <button data-prevent-double-click="true" type="submit" class="govuk-button">Change password</button>

                            </div>

                        </div>

                    </fieldset>

                    {{ govuk_form_close() }}

                </div>

            </div>

        </main>
    </div>
{% endblock %}
