{% extends '@actor/layout.html.twig' %}

{% block title %}Reset your password - {{ parent() }}{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                {{ govuk_error_summary(form) }}

                <form method="post" name="create_account">
                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Reset your password
                            </h1>
                        </legend>

                        <p class="govuk-body">Enter your email address below. If there's an account associated with the address, we'll send you a link to reset your password.</p>

                        <input type="hidden" name="__csrf" value="{{ form.get('__csrf').value }}">

                        {{ govuk_form_element(form.get('email'), { 'label': 'Email address', 'attr': { 'class': 'govuk-!-width-two-thirds', 'auto-complete': 'username' } }) }}

                        {{ govuk_form_element(form.get('email_confirm'), { 'label': 'Confirm your email address', 'attr': { 'class': 'govuk-!-width-two-thirds' } }) }}

                        <button type="submit" class="govuk-button">
                            Email me the link
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </main>
</div>
{% endblock %}
