{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Confirm your new email address{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/account-bar.html.twig') }}
        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('change-email') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l">{% trans %}Updating your email address{% endtrans %}</h1>

                    <p class="govuk-body">{% trans %}You’ve asked us to change your email address.{% endtrans %}</p>

                    <p class="govuk-body">{% trans with {'%email%': newEmail } %}We've emailed a link to %email% – please follow the link in the email to confirm the change.{% endtrans %}</p>

                    <p class="govuk-body">{% trans %}The email should arrive in a few minutes, check your spam, bulk and junk folders.{% endtrans %}</p>

                    <p class="govuk-body">{% trans %}The link will work for 48 hours.{% endtrans %}</p>

                    <p class="govuk-body">{%trans with {'%link%': path('login')} %}If you’ve already confirmed the change, you can use your new email address to <a href="%link%" class="govuk-link">sign in</a> now.{% endtrans %}</p>
                </div>
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
