{% extends '@actor/layout.html.twig' %}

{% block html_title %}Change your account email address - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        <a href="{{ path('change-email') }}" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l">Change email request successful</h1>

                    <p class="govuk-body">We've emailed a link to {{ newEmail }}. Click on the link to verify this change. The link will work for the next 48 hours.</p>

                    <p class="govuk-body">The email should arrive in a few minutes. If it's not in your inbox, check your spam or junk folder.</p>

                    <p class="govuk-body">If you've already verified your new email address, you can <a href="{{ path('login') }}" class="govuk-link">sign in</a> with it now.</p>

                </div>

            </div>

        </main>
    </div>
{% endblock %}
