{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Ask for an activation key{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('lpa.add') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}Ask for an activation key{% endtrans %}</h1>

                    {{ govuk_error_summary(form) }}

                    {{ govuk_form_open(form) }}

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('opg_reference_number'), {
                            'label': 'LPA reference number'| trans,
                            'hint': 'LPA reference numbers are 12 numbers long.<br/>For example, 700000000000'| trans,
                            'attr' : {'class': 'govuk-input--width-20', 'label_class': 'govuk-!-font-weight-bold govuk-!-margin-bottom-4'},
                            'inputmode': 'numeric',
                            'pattern': '[0-9 -]*'
                        }) }}

                        <p class="govuk-body govuk-!-font-weight-bold">{% trans %}Your details{% endtrans %}</p>

                        {{ govuk_form_element(form.get('first_names'), {
                            'label': 'First names'| trans,
                            'attr' : {'class': 'govuk-input--width-20'}
                        }) }}

                        {{ govuk_form_element(form.get('last_name'), {
                            'label': 'Last name'| trans,
                            'attr' : {'class': 'govuk-input--width-20'}
                        }) }}

                        {{ govuk_form_fieldset(form.get('dob'), {
                            'label': 'What is your date of birth?'| trans,
                            'hint': 'For example, 31 03 1980'| trans,
                            'attr': {'class': 'xyz', 'label_class': 'govuk-!-font-weight-bold'} }) }}

                        {{ govuk_form_element(form.get('postcode'), {
                            'label': 'Postcode'| trans,
                            'hint': 'This must be your current postcode and match the one we have on our records. The activation key will be posted to this address. <a href="/lpa/change-details">Let us know if you have moved.</a>'| trans,
                            'label_attr': {'class': 'govuk-!-font-weight-bold'},
                            'attr' : {'class': 'govuk-input--width-10', 'label_class': 'govuk-!-font-weight-bold'}
                        }) }}

                        <button data-prevent-double-click="true" type="submit" class="govuk-button govuk-!-margin-right-1">{% trans %}Continue{% endtrans %}</button>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>

    </div>
{% endblock %}
