{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Sending an activation key{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            {% trans %}We're posting you an activation key{% endtrans %}
                        </h1>
                    </div>
                </div>
                <div class="govuk-grid-column-two-thirds">

                    <p class="govuk-body">{% trans %}We'll send you a letter with the activation key. We'll post it to the address we have for you. You'll then be able to use the key to add the LPA to your account.{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}We've sent you an email to confirm all these details.{% endtrans %}</p>
                    <p class="govuk-body"><strong>{% trans with {'%date%': lpa_date(date)} %}You should get the letter by %date%{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}If you do not get it by this date, please contact us. You'll need to give us the LPA reference number when you call.{% endtrans %}</p>

                    {{ include('@partials/contact-details.html.twig', {showAddress:false, showEmail:false}) }}

                    <a href="{{ path('lpa.add-by-paper') }}" draggable="false" class="govuk-button">{% trans %}Request another activation key{% endtrans %}</a>
                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" href="{{ path('lpa.dashboard') }}">
                        {% trans %}Back to your LPAs{% endtrans %}
                    </a>
                </div>
            </div>
        </main>

    </div>
{% endblock %}
