{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Sending an activation key{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@actor/partials/new-use-service.html.twig') }}

        {{ include('@partials/account-bar.html.twig') }}

        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">
                            {% trans %}We're sending you an activation key{% endtrans %}
                        </h1>
                    </div>
                </div>
                <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-l">{% trans %}What happens next{% endtrans %}</h2>

                    <p class="govuk-body">{% trans %}We’ll send a letter to the address we have for you. The letter will have your activation key.{% endtrans %}</p>
                    <p class="govuk-body">{% trans with {'%date%': lpa_date(date)} %} If you do not get the letter by %date%, please contact us. When you get in touch, quote the LPA reference number (also called OPG reference number).{% endtrans %}</p>
                    <p class="govuk-body">{% trans %}Telephone: 0300 456 0300 <br> Monday to Friday, 9:30am to 5pm, except Wednesday, 10am to 5pm{% endtrans %}</p>
                    <p class="govuk-body">
                        <a class="govuk-link" href="https://www.gov.uk/call-charges">{% trans %}Find out about call charges{% endtrans %}</a>
                    </p>
                    <p class="govuk-body">{% trans %}When you have your activation key, you can use it to add an LPA to your online account. This can then use the LPA online when you need to.{% endtrans %}</p>

                    <a href="{{ path('lpa.add-by-paper') }}"  draggable="false" class="govuk-button">{% trans %}Request another activation key{% endtrans %}</a>
                    <a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" href="{{ path('lpa.dashboard') }}">
                        {% trans %}Back to your LPAs{% endtrans %}
                    </a>
                </div>
            </div>
        </main>

    </div>
{% endblock %}
