{% extends '@actor/layout.html.twig' %}

{% block html_title %}<abbr title="lasting power of attorney">LPA</abbr> Summary {{ parent() }} {% endblock %}

{% block content %}

<div class="govuk-width-container">
    {{ include('@actor/partials/new-use-service.html.twig') }}

    {{ include('@partials/account-bar.html.twig') }}

    <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link">Back to your <abbr title="lasting power of attorney">LPAs</abbr></a>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l">
                    {% if lpa.caseSubtype == "pfa" %}
                        Property and finance
                    {% else %}
                        Health and welfare
                    {% endif %}
                </span>
                <h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ actor_name(lpa.donor, false) }}</h1>
            </div>
        </div>

        {{ include('@actor/partials/lpa-sub-navigation.html.twig') }}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl"><abbr title="lasting power of attorney">LPA</abbr> summary</h1>
            </div>
        </div>

        {% if lpa.status|lower == 'cancelled' %}

            <div class="govuk-grid-row lpa-cancelled-border">
                <div class="govuk-grid-column-full column-full-alt-1">
                    <h2 class="govuk-heading-m heading-m-alt-1">This <abbr title="lasting power of attorney">LPA</abbr> has been cancelled</h2>
                </div>
            </div>

        {% else %}

            <div class="govuk-grid-row lpa-valid-border">
                <div class="govuk-grid-column-full column-full-alt-1">
                    {% if lpa.caseSubtype == "pfa" and lpa.attorneyActDecisions|lower == 'when registered' %}
                            <h2 class="govuk-heading-m heading-m-alt-1">This <abbr title="lasting power of attorney">LPA</abbr> is {{ lpa.status|lower }} and can be used now</h2>
                    {% else %}
                            <h2 class="govuk-heading-m heading-m-alt-1">This <abbr title="lasting power of attorney">LPA</abbr> is {{ lpa.status|lower }}</h2>
                    {% endif %}

                    <p class="govuk-body body-alt-1">
                        {% if lpa.caseSubtype == "pfa" %}
                            {% if lpa.attorneyActDecisions|lower == 'when registered' %}
                                {% if actor.type == 'donor' %}
                                    While you have mental capacity, your attorneys must get your permission to use this <abbr title="lasting power of attorney">LPA</abbr>.
                                {% else %}
                                    While the donor has mental capacity, you must get their permission to use this <abbr title="lasting power of attorney">LPA</abbr>.
                                {% endif %}
                            {% elseif lpa.attorneyActDecisions|lower == 'loss of capacity' %}
                                This <abbr title="lasting power of attorney">LPA</abbr> can only be used when the donor has lost capacity.
                            {% elseif lpa.attorneyActDecisions == null %}
                                This <abbr title="lasting power of attorney">LPA</abbr> can be used as soon as it's registered unless instructions say otherwise.
                            {% endif %}
                        {% else %}
                            {% if lpa.lifeSustainingTreatment|lower == 'option a' %}
                                The attorneys have the authority to make decisions about life-sustaining treatment
                            {% elseif lpa.lifeSustainingTreatment|lower == 'option b' %}
                                The attorneys do NOT have the authority to make decisions about life-sustaining treatment
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
        {% endif %}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">The donor</h2>
                <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">{{ actor_name(lpa.donor) }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date of birth</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.donor.dob) }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">{{ actor_address(lpa.donor) }}</dd>
                    </div>
                </dl>
                <p class="govuk-body">
                    <a class="govuk-link" href="{{ path('lpa.change-details', {}, {'lpa':  actorToken }) }}">Need to change the donor's details?</a>
                </p>
            </div>
        </div>

        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">The attorneys</h2>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">How decisions are made</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.caseAttorneySingular %}
                                Decisions are made by one attorney
                            {% elseif lpa.caseAttorneyJointly %}
                                Attorneys must make decisions jointly (together)
                            {% elseif lpa.caseAttorneyJointlyAndSeverally %}
                                Attorneys can make decisions jointly (together) and severally (separately)
                            {% elseif lpa.caseAttorneyJointlyAndJointlyAndSeverally %}
                                Attorneys must make some decisions jointly (together) and can make some decisions severally (separately). Check the paper <abbr title="lasting power of attorney">LPA</abbr> to find out what decisions must be made jointly.
                            {% endif %}
                        </dd>
                    </div>
                </dl>

                {% for attorney in lpa.attorneys %}

                    <h3 class="govuk-heading-m">{{ lpa.attorneys | length == 1 ? '1st' : loop.index | ordinal }} attorney</h3>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ actor_name(attorney) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of birth</dt>
                            <dd class="govuk-summary-list__value">{{ lpa_date(attorney.dob) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Address</dt>
                            <dd class="govuk-summary-list__value">{{ actor_address(attorney) }}</dd>
                        </div>
                    </dl>

                {% endfor %}
                <p class="govuk-body">
                    <a class="govuk-link" href="{{ path('lpa.change-details', {}, {'lpa':  actorToken }) }}">Need to change an attorney's details?</a>
                </p>
            </div>
        </div>


        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l"><abbr title="lasting power of attorney">LPA</abbr> details</h2>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Preferences</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.applicationHasGuidance %}
                                Yes, the donor made preferences on their <abbr title="lasting power of attorney">LPA</abbr>.<br>To view these, ask to see the paper <abbr title="lasting power of attorney">LPA</abbr>
                            {% else %}
                                No
                            {% endif %}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Instructions</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.applicationHasRestrictions %}
                                Yes, the donor set instructions on their <abbr title="lasting power of attorney">LPA</abbr>.<br>To view these, ask to see the paper <abbr title="lasting power of attorney">LPA</abbr>
                            {% else %}
                                No
                            {% endif %}
                        </dd>
                    </div>

                    {% if lpa.caseSubtype == "pfa" %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">When can the <abbr title="lasting power of attorney">LPA</abbr> be used?</dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.attorneyActDecisions|lower == 'when registered' %}
                                    {% if actor.type == 'donor' %}
                                        You have said that this <abbr title="lasting power of attorney">LPA</abbr> can be used now. While you have mental capacity, your attorneys can only use the <abbr title="lasting power of attorney">LPA</abbr> if you allow them to.
                                    {% else %}
                                        The donor has said that this <abbr title="lasting power of attorney">LPA</abbr> can be used now. While the donor has mental capacity, you can only use the <abbr title="lasting power of attorney">LPA</abbr> if the donor allows you to.
                                    {% endif %}
                                {% elseif lpa.attorneyActDecisions|lower == 'loss of capacity' %}
                                    This <abbr title="lasting power of attorney">LPA</abbr> can only be used when the donor has lost capacity
                                {% elseif lpa.attorneyActDecisions == null %}
                                    This <abbr title="lasting power of attorney">LPA</abbr> can be used as soon as it's registered unless instructions say otherwise.
                                {% endif %}
                            </dd>
                        </div>
                    {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Life sustaining <br>treatment</dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.lifeSustainingTreatment|lower == 'option a' %}
                                    The attorneys have the authority to make decisions about life-sustaining treatment
                                {% elseif lpa.lifeSustainingTreatment|lower == 'option b' %}
                                    The attorneys do not have the authority to make decisions about life-sustaining treatment
                                {% else %}
                                    To view this, ask to see the paper <abbr title="lasting power of attorney">LPA</abbr>
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date donor signed <abbr title="lasting power of attorney">LPA</abbr></dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.lpaDonorSignatureDate) }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Registration date</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.registrationDate) }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key"><abbr title="lasting power of attorney">LPA</abbr> reference number</dt>
                        <dd class="govuk-summary-list__value">{{ lpa.uId }}</dd>
                    </div>

                </dl>
            </div>


        </div>

        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You cannot use a download or print out of this <abbr title="lasting power of attorney">LPA</abbr> summary in place of the original paper <abbr title="lasting power of attorney">LPA</abbr> or instead of giving someone an access code.
            </strong>
        </div>

    </main>
</div>


{% endblock %}
