{% extends '@actor/layout.html.twig' %}

{% block html_title %}LPA Summary {{ parent() }} {% endblock %}

{% block content %}

<div class="govuk-width-container">
    {{ include('@partials/new-service.html.twig') }}

    {{ include('@partials/account-bar.html.twig') }}

    <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <span class="govuk-caption-l">
                    {% if lpa.caseSubtype == "pfa" %}
                        Property and Finance
                    {% else %}
                        Health and Welfare
                    {% endif %}
                </span>
                <h1 class="govuk-heading-l">{{ lpa.donor.firstname }} {{ lpa.donor.surname }}</h1>
            </div>
        </div>

        {{ include('@actor/partials/lpa-sub-navigation.html.twig') }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">LPA summary</h1>
            </div>
        </div>

        <div class="govuk-grid-row lpa-border">
            <div class="govuk-grid-column-full" style="padding: 0px">
                <h2 class="govuk-heading-m" style="margin-bottom: 10px">This LPA is registered</h2>
                <p class="govuk-body" style="margin-bottom: 0px">
                    {% if lpa.caseSubtype == "pfa" %}
                        {% if lpa.attorneyActDecisions %}
                            While the donor has mental capacity, this lpa should only be used with the donor’s permission
                        {% else %}
                            This LPA can only be used when the donor does not have mental capacity
                        {% endif %}
                    {% else %}
                        {% if lpa.lifeSustainingTreatment %}
                            The attorneys have the authority to make decisions about life-sustaining treatment
                        {% else %}
                            The attorneys do NOT have the authority to make decisions about life-sustaining treatment
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">The donor</h2>
                <dl class="govuk-summary-list govuk-summary-list--no-border" style="margin-bottom: 30px">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">{{ lpa.donor.firstname }} {{ lpa.donor.surname }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date of birth</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.donor.dob) }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">{{ actor_address(lpa.donor) }}</dd>
                    </div>
                </dl>
                <p class="govuk-body">
                    <a href="#">Need to change the donor's details?</a>
                </p>
            </div>
        </div>

        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">The attorneys</h2>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">How decisions are made</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.caseAttorneySingular %}
                                The attorneys may act individually
                            {% elseif lpa.caseAttorneyJointly %}
                                The attorneys must act jointly
                            {% elseif lpa.caseAttorneyJointlyAndSeverally %}
                                The attorneys must act jointly and severally
                            {% elseif lpa.caseAttorneyJointlyAndJointlyAndSeverally %}
                                The attorneys must act jointly for some decisions, and jointly and severally for other decisions
                            {% endif %}
                        </dd>
                    </div>
                </dl>

                {% for attorney in lpa.attorneys %}

                    <h3 class="govuk-heading-m">{{ lpa.attorneys | length == 1 ? '1st' : loop.index | ordinal }} attorney</h3>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ actor_name(attorney) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of birth</dt>
                            <dd class="govuk-summary-list__value">{{ lpa_date(attorney.dob) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Address</dt>
                            <dd class="govuk-summary-list__value">{{ actor_address(attorney) }}</dd>
                        </div>
                    </dl>
                {% endfor %}
                <p class="govuk-body">
                    <a href="#">Need to change an attorney's details?</a>
                </p>
            </div>
        </div>


        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l">LPA details</h2>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Preferences</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.applicationHasGuidance %}
                                Yes, the donor made preferences on their LPA.<br>To view these, ask to see the paper LPA
                            {% else %}
                                No
                            {% endif %}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Instructions</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.applicationHasRestrictions %}
                                Yes, the donor set instructions on their LPA.<br>To view these, ask to see the paper LPA
                            {% else %}
                                No
                            {% endif %}
                        </dd>
                    </div>

                    {% if lpa.caseSubtype == "pfa" %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">When can the LPA be used?</dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.attorneyActDecisions %}
                                    While the donor has mental capacity, this lpa should only be used with the donor’s permission
                                {% else %}
                                    This LPA can only be used when the donor does not have mental capacity
                                {% endif %}
                            </dd>
                        </div>
                    {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Life sustaining <br>treatment</dt>
                            {% if lpa.lifeSustainingTreatment %}
                                <dd class="govuk-summary-list__value">The attorneys have the authority to make decisions about life-sustaining treatment</dd>
                            {% else %}
                                <dd class="govuk-summary-list__value">The attorneys do not have the authority to make decisions about life-sustaining treatment</dd>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date donor signed LPA</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.lpaDonorSignatureDate) }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Registration date</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.registrationDate) }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">LPA reference number</dt>
                        <dd class="govuk-summary-list__value">{{ lpa.uId }}</dd>
                    </div>

                </dl>
            </div>

            {{ include('@partials/section-break.html.twig') }}

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    You cannot use a download or print out of this LPA summary in place of the original paper LPA or instead of giving someone an access code.
                </strong>
            </div>
        </div>

    </main>
</div>


{% endblock %}