{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}LPA summary{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}

    <div class="govuk-width-container">
        {{ include('@partials/account-bar.html.twig') }}
        {{ include('@partials/welsh-switch.html.twig') }}

        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path('lpa.dashboard') }}" class="govuk-back-link" id="back-link-navigation">
                {% trans %}Back to your <abbr title="lasting power of attorney">LPAs</abbr>{% endtrans %}
            </a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row govuk-!-margin-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl govuk-!-margin-bottom-3 govuk-!-margin-top-0">{{ actor_name(lpa.donor, false) }}, {{ lpa.caseSubtype == 'pfa' ? 'Property and finance' | trans : 'Health and welfare' | trans }}</span>
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
                        {% trans %}<abbr title="lasting power of attorney">LPA</abbr> summary{% endtrans %}
                    </h1>
                </div>
            </div>

            {{ include('@actor/partials/lpa-sub-navigation.html.twig') }}

            {% if is_lpa_cancelled(lpa) %}
                <div class="govuk-grid-row lpa-cancelled-border">
                    <div class="govuk-grid-column-full column-full-alt-1">
                        <h2 class="govuk-heading-m heading-m-alt-1">
                            {% trans %}This <abbr
                                    title="lasting power of attorney">LPA</abbr> has been cancelled{% endtrans %}
                        </h2>
                    </div>
                </div>
            {% else %}
                <div class="govuk-grid-row lpa-valid-border">
                    <div class="govuk-grid-column-full column-full-alt-1">
                        {% if lpa.caseSubtype == "pfa" and lpa.attorneyActDecisions|lower == 'when registered' %}
                            <h2 class="govuk-heading-m heading-m-alt-1">
                                {% trans %}This <abbr
                                        title="lasting power of attorney">LPA</abbr> is registered and can be used now{% endtrans %}
                            </h2>
                        {% else %}
                            <h2 class="govuk-heading-m heading-m-alt-1">
                                {% trans %}This <abbr
                                        title="lasting power of attorney">LPA</abbr> is registered{% endtrans %}
                            </h2>
                        {% endif %}

                        <p class="govuk-body body-alt-1">
                            {% if lpa.caseSubtype == "pfa" %}
                                {% if lpa.attorneyActDecisions|lower == 'when registered' %}
                                    {% if actor.type == 'donor' %}
                                        {% trans %}While you have mental capacity, your attorneys must get your permission to use this
                                            <abbr title="lasting power of attorney">LPA</abbr>.{% endtrans %}
                                    {% else %}
                                        {% trans %}While the donor has mental capacity, you must get their permission to use this
                                            <abbr title="lasting power of attorney">LPA</abbr>.{% endtrans %}
                                    {% endif %}
                                {% elseif lpa.attorneyActDecisions|lower == 'loss of capacity' %}
                                    {% trans %}This <abbr
                                            title="lasting power of attorney">LPA</abbr> can only be used when the donor has lost capacity.{% endtrans %}
                                {% elseif lpa.attorneyActDecisions == null %}
                                    {% trans %}This <abbr
                                            title="lasting power of attorney">LPA</abbr> can be used as soon as it's registered unless instructions say otherwise.{% endtrans %}
                                {% endif %}
                            {% else %}
                                {% if lpa.lifeSustainingTreatment|lower == 'option a' %}
                                    {% trans %}The attorneys have the authority to make decisions about life-sustaining treatment{% endtrans %}
                                {% elseif lpa.lifeSustainingTreatment|lower == 'option b' %}
                                    {% trans %}The attorneys do NOT have the authority to make decisions about life-sustaining treatment{% endtrans %}
                                {% endif %}
                            {% endif %}
                        </p>
                        <p class="govuk-body body-alt-1">
                            {{ include('@actor/partials/lpa-instructions-preferences-warning-message.html.twig') }}
                        </p>
                    </div>
                </div>
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {% include '@partials/lpa-summary-details/lpa-donor-details.html.twig' %}
                    <p class="govuk-body">
                        <a class="govuk-link" href="{{ path('lpa.change-details', {}, {'lpa':  actorToken }) }}">
                            {% trans %}Need to change the donor's details?{% endtrans %}
                        </a>
                    </p>
                </div>
            </div>

            {{ include('@partials/section-break.html.twig') }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {% include '@partials/lpa-summary-details/lpa-attorney-details.html.twig' %}
                    <p class="govuk-body">
                        <a class="govuk-link" href="{{ path('lpa.change-details', {}, {'lpa':  actorToken }) }}">
                            {% trans %}Need to change an attorney's details?{% endtrans %}
                        </a>
                    </p>
                </div>
            </div>

            {{ include('@partials/section-break.html.twig') }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">
                        {% trans %}<abbr title="lasting power of attorney">LPA</abbr> details{% endtrans %}
                    </h2>

                    {% if
                        feature_enabled('instructions_and_preferences') and (lpa.applicationHasGuidance or lpa.applicationHasInstructions)%}
                        {# TODO - Waiting for "severance" data to be available from Sirius / API #}

                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">{% trans %}Warning{% endtrans %}</span>
                                {% trans %}
                                    Some words in the instructions and or preferences have been removed by the court of protection.
                                    We cannot show this detail online. Organisations may ask to see the paper <abbr title="lasting power of attorney">LPA</abbr> so that they can find out which words have been removed.
                                {% endtrans %}
                            </strong>
                        </div>
                    {% endif %}

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        {% include '@partials/lpa-summary-details/lpa-details.html.twig' %}
                    </dl>
                    <p class="govuk-body">
                        <a class="govuk-link" href="{{ path('lpa.change-lpa-details', {}, {'lpa':  actorToken }) }}">
                            {% trans %}Seen something incorrect in the LPA details?{% endtrans %}
                        </a>
                    </p>
                </div>
            </div>

            <p>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">{% trans %}Warning{% endtrans %}</span>
                    {% trans %}You cannot use a download or print out of this <abbr title="lasting power of attorney">LPA</abbr> summary in place of the original paper
                        <abbr title="lasting power of attorney">LPA</abbr> or instead of giving someone an access code.{% endtrans %}
                </strong>
            </div>
            </p>

        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
