{% extends '@actor/layout.html.twig' %}

{% block html_title %}{% trans %}Your details{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}

    <div class="govuk-width-container">
        {{ include('@partials/account-bar.html.twig') }}
        {{ include('@partials/welsh-switch.html.twig') }}

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-xl">{% trans %}Your details{% endtrans %}</h1>

                            <dl class="govuk-summary-list">

                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        {% trans %}Email address{% endtrans %}
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        {{ user.getDetail('email') }}
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="{{ path('change-email') }}">
                                            {% trans %}Change<span class="govuk-visually-hidden"> email address</span>{% endtrans %}
                                        </a>
                                    </dd>
                                </div>
                                <div class="govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        {% trans %}Password{% endtrans %}
                                    </dt>
                                    <dd class="govuk-summary-list__value">
                                        ***********
                                    </dd>
                                    <dd class="govuk-summary-list__actions">
                                        <a class="govuk-link" href="change-password">
                                            {% trans %}Change<span class="govuk-visually-hidden"> password</span>{% endtrans %}
                                        </a>
                                    </dd>
                                </div>
                            </dl>

                    <div class="govuk-inset-text">
                        <span>{% trans %}Need to update the online <abbr title="lasting power of attorney">LPA</abbr> summary?{% endtrans %}</span><br>
                        <span>
                             <a class="govuk-link" href="{{ path('lpa.change-details') }}">{% trans %}Change a donor or attorney's details{% endtrans %}</a>
                        </span>
                    </div>
                    <a href="{{ path('confirm-delete-account') }}" class="govuk-body lpa-account-delete">{% trans %}Delete account{% endtrans %}</a>
                </div>
            </div>
        </main>
        {{ include('@actor/partials/new-use-service.html.twig') }}
    </div>
{% endblock %}
