<!DOCTYPE html>
<html lang="{{ currentLocale }}" class="govuk-template govuk-template--rebranded">
<head>
    <meta charset="utf-8" />
    <title>{% block html_title %}{% trans %}GOV.UK{% endtrans %}{% endblock %}</title>
    <link rel="preload" href="{{ asset('stylesheets/main.css') }}" as="style" />
    <link rel="preload" href="{{ asset('index.js') }}" as="script" />
    <link rel="preconnect" href="//www.google-analytics.com" />
    <link rel="preconnect" href="//www.googletagmanager.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="format-detection" content="Telephone=no"/>

    <meta name="theme-color" content="#1d70b8">
    <link rel="icon" sizes="48x48" href="{{ asset('assets/rebrand/images/favicon.ico') }}" />
    <link rel="icon" sizes="any" href="{{ asset('assets/rebrand/images/favicon.svg') }}" type="image/svg+xml" />
    <link rel="mask-icon" href="{{ asset('assets/rebrand/images/govuk-icon-mask.svg') }}" color="#1d70b8">
    <link rel="apple-touch-icon" href="{{ asset('assets/rebrand/images/govuk-icon-180.png') }}">
    <link rel="manifest" href="{{ asset('assets/rebrand/manifest.json') }}">

    <link rel="stylesheet" href="{{ asset('stylesheets/main.css') }}">
    <script type="application/javascript" nonce="{{ cspNonce }}">
        window.gaConfig = {};
        window.gaConfig.uaId = "{{ uaId }}";
    </script>

    {% if application == 'actor' %}
        {% set url = 'https://use-lasting-power-of-attorney.service.gov.uk/' %}
    {% else %}
        {% set url = 'https://view-lasting-power-of-attorney.service.gov.uk/' %}
    {% endif %}

    <link rel="alternate" hreflang="en-gb" href="{{ url }}home" />
    <link rel="alternate" hreflang="cy-gb" href="{{ url }}cy/home" />
    <link rel="alternate" hreflang="x-default" href="{{ url }}home" />

    {% block stylesheets %}{% endblock %}

    <meta property="og:image" content="{{ asset('assets/images/govuk-opengraph-image.png') }}">
</head>

<body class="govuk-template__body ">

<a href="#main-content" class="govuk-skip-link">{% trans %}Skip to main content{% endtrans %}</a>
{% if application == 'actor' %}
    {{ include('@actor/partials/use-session-dialog.html.twig') }}
{% endif %}

{{  include('@partials/cookie-banner.html.twig') }}

{{ include("@partials/header/one-login.html.twig") }}

{% block content %}{% endblock %}

{{ include("@partials/footer.html.twig") }}

<script src="{{ asset('index.js') }}" type="module"></script>
{% block javascript %}{% endblock %}
</body>
</html>
