<!DOCTYPE html>
<html lang="{{ currentLocale }}" class="govuk-template">
<head>
    <meta charset="utf-8" />
    <title>{% block html_title %}{% trans %}GOV.UK{% endtrans %}{% endblock %}</title>
    <link rel="preload" href="{{ asset('stylesheets/main.css') }}" as="style" />
    <link rel="preload" href="{{ asset('index.js') }}" as="script" />
    <link rel="preconnect" href="//www.google-analytics.com" />
    <link rel="preconnect" href="//www.googletagmanager.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0b0c0c" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="format-detection" content="Telephone=no"/>

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon" />
    <link rel="mask-icon" href="{{ asset('assets/images/govuk-mask-icon.svg') }}" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/govuk-apple-touch-icon-180x180.png') }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ asset('assets/images/govuk-apple-touch-icon-167x167.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/images/govuk-apple-touch-icon-152x152.png') }}">
    <link rel="apple-touch-icon" href="{{ asset('assets/images/govuk-apple-touch-icon.png') }}">
    <link rel="stylesheet" href="{{ asset('stylesheets/main.css') }}">
    <script type="application/javascript" nonce="{{ cspNonce }}">
        window.gaConfig = {};
        window.gaConfig.uaId = "{{ uaId }}";
    </script>

    {% if application == 'actor' %}
        {% set url = 'https://use-lasting-power-of-attorney.service.gov.uk/' %}
    {% else %}
        {% set url = 'https://view-lasting-power-of-attorney.service.gov.uk/' %}
    {% endif %}

    <link rel="alternate" hreflang="en-gb" href="{{ url }}home" />
    <link rel="alternate" hreflang="cy-gb" href="{{ url }}cy/home" />
    <link rel="alternate" hreflang="x-default" href="{{ url }}home" />

    {% block stylesheets %}{% endblock %}

    <meta property="og:image" content="{{ asset('assets/images/govuk-opengraph-image.png') }}">
</head>

<body class="govuk-template__body ">

<a href="#main-content" class="govuk-skip-link">{% trans %}Skip to main content{% endtrans %}</a>
{% if application == 'actor' %}
    {{ include('@actor/partials/use-session-dialog.html.twig') }}
{% endif %}

{{  include('@partials/cookie-banner.html.twig') }}

{% if feature_enabled('allow_gov_one_login') %}
    {{ include("@partials/header/one-login.html.twig") }}
{% else %}
    {{ include("@partials/header/default.html.twig") }}
{% endif %}

{% block content %}{% endblock %}

{{ include("@partials/footer.html.twig") }}

<script src="{{ asset('index.js') }}" type="module"></script>
{% block javascript %}{% endblock %}
</body>
</html>
