{% extends '@viewer/layout.html.twig' %}

{% block page_title %}{% trans %}We cannot show the lasting power of attorney{% endtrans %}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{% trans with { '%donorName%': donorName } %}We cannot show %donorName%’s lasting power of attorney{% endtrans %}</h1>

                    <p class="govuk-body">{% trans %}This is because some of the information you entered is incorrect. To view the LPA, try again making sure you enter the correct:{% endtrans %}</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>{% trans %}<abbr title="lasting power of attorney">LPA</abbr> reference number{% endtrans %}</li>
                        <li>{% trans %}date of birth of who the paper verification code was sent to{% endtrans %}</li>
                        <li>{% trans %}number of attorneys on the notice of registration{% endtrans %}</li>
                        <li>{% trans %}name of 1 attorney named on the notice of registration{% endtrans %}</li>
                    </ul>

                    <h3 class="govuk-heading-m">{% trans %}Your answers{% endtrans %}</h3>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans %}LPA reference number{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ lpaUid }}
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans %}Who the paper verification code was sent to{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ sentToDonor ? donorName : attorneyName }}
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans with { '%name%': sentToDonor ? donorName : attorneyName } %}%name%’s date of birth{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ lpa_date(dateOfBirth) }}
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans %}Number of attorneys{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ noOfAttorneys }}
                            </dd>
                        </div>

                        {% if sentToDonor %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">
                                    {% trans %}Attorney name{% endtrans %}
                                </dt>
                                <dd class="govuk-summary-list__value">
                                    {{ attorneyName }}
                                </dd>
                            </div>
                        {% endif %}
                    </dl>

                    <a href="{{ path('home') }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                        {% trans %}Try again{% endtrans %}
                    </a>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
