{% extends '@viewer/layout.html.twig' %}

{% block html_title %}{% trans %}Enter DOB{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path(back) }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>
        <main class="govuk-main-wrapper" id="main-content" role="main">
            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    {{ govuk_form_open(form) }}
                    {{ govuk_form_element(form.get('__csrf')) }}

                    {{ govuk_form_fieldset(form.get('dob'), {
                         'heading': 'Enter %donorName%’s date of birth'| trans({ '%donorName%': donorName }),
                         'hint': 'For example, 31 03 1980'| trans,
                    }) }}

                    <div class="govuk-button-group">
                        <button role="button" type="submit" data-prevent-double-click="true" draggable="false"
                                class="govuk-button moj-button-menu__item" data-module="govuk-button">
                            {% trans %}Continue{% endtrans %}
                        </button>
                        <a href="{{ path('home') }}" role="button" draggable="false"
                           class="govuk-button moj-button-menu__item govuk-button--secondary "
                           data-module="govuk-button">
                            {% trans %}Cancel{% endtrans %}
                        </a>
                    </div>
                    
                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
