{% extends '@viewer/layout.html.twig' %}

{% block html_title %}{% trans %}We’ve found this LPA{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path(back) }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper " id="main-content" role="main">
            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{ govuk_form_open(form) }}
                    {{ govuk_form_element(form.get('__csrf')) }}

                    <h1 class="govuk-heading-xl">{% trans %}The LPA is ready to view{% endtrans %}</h1>

                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans %}Donor name{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ donor_name }}
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                {% trans %}Type of LPA{% endtrans %}
                            </dt>
                            <dd class="govuk-summary-list__value">
                                {{ lpa_type == 'pfa' ? 'Property and affairs' | trans : 'Health and welfare' | trans  }}
                            </dd>
                        </div>
                    </dl>

                    {{ govuk_form_element(form.get('organisation'), {
                           'label': 'Your organisation name' | trans,
                           'hint': 'This will be displayed to the attorneys and donor on the LPA' | trans,
                           'attr': { 'class': 'govuk-heading-m', 'label_class': 'govuk-label--m' },
                    }) }}

                    <div class="govuk-button-group">
                        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                          {% trans %}View this LPA{% endtrans %}
                        </button>

                        <a href="{{ path('home') }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            {% trans %}Cancel{% endtrans %}
                        </a>
                    </div>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
