{% extends '@viewer/layout.html.twig' %}

{% block page_title %}{% trans %}Number of attorneys{% endtrans %}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <div role="navigation" aria-labelledby="back-link-navigation">
            <a href="{{ path(back) }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
        </div>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {{ govuk_form_open(form) }}
                    {{ govuk_form_element(form.get('__csrf')) }}

                    <h1 class="govuk-heading-xl">{% trans %}Number of attorneys{% endtrans %}</h1>

                    {{ govuk_form_element(form.get('no_of_attorneys'), {
                           'label': 'Enter the total number of attorneys listed on the notice of registration including %attorneyName%' | trans({ '%attorneyName%': attorneyName }),
                           'hint': 'For example, 2'| trans,
                           'attr' : {'class': 'govuk-input--width-3'},
                    }) }}

                    <div class="govuk-button-group">
                        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                            {% trans %}Continue{% endtrans %}
                        </button>

                        <a href="{{ path('home') }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            {% trans %}Cancel{% endtrans %}
                        </a>
                    </div>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
