{% extends '@viewer/layout.html.twig' %}

{% block html_title %}{% trans %}Who the paper verification code was sent to{% endtrans %} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            {{ govuk_error_summary(form) }}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{ govuk_form_open(form) }}
                    {{ govuk_form_element(form.get('__csrf')) }}

                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                            <h1 class="govuk-fieldset__heading">
                                {% trans %}Who the paper verification code was sent to{% endtrans %}
                            </h1>
                        </legend>

                        {{ govuk_form_element(form.get('verification_code_receiver'), {
                               'value_options': [{
                                    'label': 'An attorney'| trans,
                                    'value': 'Attorney',
                                    'conditionalContent': {"attorney_name": govuk_form_element(form.get('attorney_name'),{'label': 'Enter the attorney’s name as it appears on the notice of registration'| trans})}
                                }, {
                                    'label': 'The donor, %donor_name%' | trans({'%donor_name%': donor_name}),
                                    'value': 'Donor'
                                }]
                        }) }}
                    </fieldset>

                    <div class="govuk-button-group">
                        <button type="submit" data-prevent-double-click="true" class="govuk-button" data-module="govuk-button">
                            {% trans %}Continue{% endtrans %}
                        </button>

                        <a href="{{ path('home') }}" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            {% trans %}Cancel{% endtrans %}
                        </a>
                    </div>

                    {{ govuk_form_close() }}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
