{% extends '@viewer/layout.html.twig' %}

{% block html_title %}We’ve found this LPA - {{ parent() }} {% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/new-service.html.twig') }}

        <a href="{{ path('home') }}" class="govuk-back-link">Back</a>

        <main class="govuk-main-wrapper " id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">We’ve found this LPA</h1>

                    <table id="confirmation-table" class="govuk-table">
                        <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Type of LPA</th>
                            <td class="govuk-table__cell">{{ lpa.caseSubtype == 'pfa' ? 'Property and finance' : 'Health and welfare' }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Donor name</th>
                            <td class="govuk-table__cell">{{ lpa.donor.firstname }} {{ lpa.donor.surname }}</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">Code expires</th>
                            <td class="govuk-table__cell">in {{ days_remaining_to_expiry(expires) }} days, on {{ lpa_date(expires) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    Check that these details are correct before continuing
                </strong>
            </div>

            <div class="govuk-body">
                <p class="govuk-body">If this is not the right LPA, ask the donor or attorney to check the access code.</p>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <details class="govuk-details" role="group">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                If you need to see this <abbr title="lasting power of attorney">LPA</abbr> after {{ lpa_date(expires) }}
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">You can see an online summary of this <abbr title="lasting power of attorney">LPA</abbr> until {{ lpa_date(expires) }}. After this date, the access code will expire.</p>
                            <p class="govuk-body">Ask the donor or attorney for a new access code if your organisation:
                                <ul class="list list-bullet">
                                    <li>needs more time to process this LPA</li>
                                    <li>need to see this LPA at a later date</li>
                                </ul>
                            </p>
                        </div>
                    </details>

                </div>
            </div>

            <a href="{{ path('view-lpa') }}" role="button" draggable="false" class="govuk-button">
                View this LPA
            </a>

            <p class="govuk-body">
                <a class="govuk-link" href="{{ path('home') }}">Try another access code</a>
            </p>
        </main>
    </div>
{% endblock %}
