{% extends '@viewer/layout.html.twig' %}

{% block html_title %}Enter code - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@partials/new-service.html.twig') }}

    <a href="/" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-half">

                {{ govuk_error_summary(form) }}

                {{ govuk_form_open(form) }}

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Enter Code
                            </h1>
                        </legend>

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('lpa_code'), { 'label': 'LPA code' }) }}

                        <details class="govuk-details" role="group">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    What is a share code?
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p class="govuk-body">A share code is given to you by the donor or an attorney named on the lasting power of attorney.</p>
                            </div>
                        </details>

                        <button type="submit" class="govuk-button">Save and continue</button>

                    </fieldset>

                {{ govuk_form_close() }}

            </div>

        </div>

    </main>
</div>
{% endblock %}
