{% extends '@viewer/layout.html.twig' %}

{% block title %}Enter code{% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@partials/new-service.html.twig') }}
    <a href="/" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <h1 class="govuk-heading-xl">Enter Code</h1>

                <form method="post" name="share_code">
                    <fieldset class="govuk-fieldset">
                        <input type="hidden" name="__csrf" value="{{ form.get('__csrf').value }}">

                        {{ govuk_error_summary(form) }}

                        <div class="govuk-form-group">
                            <label class="govuk-label" for="lpa_code">
                                LPA code
                            </label>

                            {{ govuk_error(form.get('lpa_code')) }}

                            <input class="govuk-input {{ govuk_error_class(form.get('lpa_code')) }}" id="share_code_lpa_code" name="lpa_code"
                                   type="text" value="{{ form.get('lpa_code').value }}">
                        </div>

                        <details class="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    What is a share code?
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                A share code is given to you by the donor or an attorney named on the lasting power
                                of attorney.
                            </div>
                        </details>

                        <button type="submit" class="govuk-button">Save and continue</button>
                    </fieldset>
                </form>
            </div>
        </div>

    </main>
</div>
{% endblock %}
