{% extends '@viewer/layout.html.twig' %}

{% block html_title %}{% trans %}Enter LPA access code{% endtrans %} - {{ parent() }} {% endblock %}

{% block content %}
<div class="govuk-width-container">
    {{ include('@viewer/new-view-service.html.twig') }}

    {{ include('@partials/welsh-switch.html.twig') }}

    <div role="navigation" aria-labelledby="back-link-navigation">
        <a href="{{ path('home') }}" class="govuk-back-link" id="back-link-navigation">{% trans %}Back{% endtrans %}</a>
    </div>

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                {{ govuk_error_summary(form) }}

                {{ govuk_form_open(form) }}

                    <fieldset class="govuk-fieldset">

                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-heading-xl">
                                {% trans %}Enter the LPA access code{% endtrans %}
                            </h1>
                        </legend>

                        <p class="govuk-body">
                            {% trans %}An <abbr title="lasting power of attorney">LPA</abbr> access code is a unique code given to you by the donor or an attorney named on a lasting power of attorney.{% endtrans %}
                        </p>

                        {{ govuk_form_element(form.get('__csrf')) }}

                        {{ govuk_form_element(form.get('donor_surname'),
                            {
                                'label': 'Donor\'s last name' | trans,
                                'attr' : {'class': 'govuk-input--width-10'}

                            }
                        ) }}

                        {{ govuk_form_element(form.get('lpa_code'),
                            {
                                'label': 'LPA access code' | trans,
                                'input_prefix': 'V - ',
                                'hint': 'Access codes are 13 characters long and start with a V<br/>For example, V-AB12-CD34-EF56' | trans,
                                'attr' : {'class': 'govuk-input--width-10'}
                            }
                        ) }}

                        <details id="access-code-reveal" class="govuk-details" data-module="govuk-details">
                            <summary class="govuk-details__summary" role="button" data-attribute="ga-event" data-gaAction="AccessCodeReveal" data-gaCategory="Access code" data-gaLabel="The code I\'ve been given does not begin with a V">
                                <span class="govuk-details__summary-text" data-attribute="ga-event" data-gaAction="AccessCodeReveal" data-gaCategory="Access code" data-gaLabel="The code I\'ve been given does not begin with a V">
                                    {% trans %}The code I've been given does not begin with a V{% endtrans %}
                                </span>
                            </summary>
                            <div class="govuk-details__text">
                                <p>{% trans %}The donor or attorney may have given you the wrong code.{% endtrans %}</p>
                                <p>{% trans %}Ask them to go to www.gov.uk/use-lpa to create an LPA access code for your organisation.{% endtrans %}</p>
                            </div>
                        </details>

                        <p class="govuk-body">{% trans with {'%link%': path('terms-of-use')} %}By continuing you agree to our <a href="%link%" target="_blank" class="govuk-link" rel="noreferrer noopener">terms of use (opens in new tab)</a>.{% endtrans %}</p>

                        <button data-prevent-double-click="true" type="submit" class="govuk-button">{% trans %}Continue{% endtrans %}</button>

                    </fieldset>

                {{ govuk_form_close() }}

            </div>

        </div>

    </main>
</div>
{% endblock %}
