{% extends '@viewer/layout.html.twig' %}

{% block html_title %}View LPA - {{ parent() }} {% endblock %}

{% block content %}
    <style>
        .govuk-panel.govuk-panel--failed {
            color: #fff;
            background: #B10E1E;
        }
    </style>

    <div class="govuk-width-container">
        {{ include('@partials/new-service.html.twig') }}

        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l" style="margin-top: 0px">
                        {% if lpa.caseSubtype == "pfa" %}
                            Property and Finance
                        {% else %}
                            Health and Welfare
                        {% endif %}
                    </span>
                    <h1 class="govuk-heading-l" style="color:#005ea5">Nicholas Brown</h1>
                </div>

            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </div>

            <div class="govuk-grid-row" style="margin-bottom: 20px">

                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l" style="margin-top: 0px"></span>
                    <h1 class="govuk-heading-l" style="margin-bottom: 0px; color: #005ea5"></h1>
                </div>

                <div class="govuk-grid-column-full">

                    {% if lpa.status == 'Cancelled' %}

                        <div class="govuk-panel govuk-panel--failed" style="margin-bottom: 15px; padding: 35px; border: 5px">

                            <h1 class="govuk-panel__title">This LPA has been cancelled</h1>

                            <div class="govuk-panel__body govuk-!-font-size-24">
                                <strong>The information on this LPA summary was correct on {{ lpa_date("today") }}</strong>
                            </div>

                        </div>

                    {% else %}

                        <div class="govuk-panel govuk-panel--confirmation" style="margin-bottom: 15px; padding: 35px; border: 5px">

                            <h1 class="govuk-panel__title">This LPA is valid</h1>

                            <div class="govuk-panel__body govuk-!-font-size-24">
                                {% if lpa.caseSubtype == "pfa" %}
                                    {% if lpa.attorneyActDecisions %}
                                        While the donor has mental capacity, this lpa should only be used with the donor’s permission
                                    {% else %}
                                        This LPA can only be used when the donor does not have mental capacity
                                    {% endif %}
                                {% else %}
                                    {% if lpa.lifeSustainingTreatment %}
                                        The attorneys have the authority to make decisions about life-sustaining treatment
                                    {% else %}
                                        The attorneys do NOT have the authority to make decisions about life-sustaining treatment
                                    {% endif %}
                                {% endif %}

                            </div>

                            <br/>

                            <div class="govuk-panel__body govuk-!-font-size-24">
                                <strong>The information on this LPA summary was correct on {{ lpa_date("today") }}</strong>
                            </div>

                        </div>

                    {% endif %}

                </div>
            </div>
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-heading-l">The donor</h2>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">


                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ actor_name(lpa.donor) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of birth</dt>
                            <dd class="govuk-summary-list__value">{{ lpa_date(lpa.donor.dob) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Address</dt>
                            <dd class="govuk-summary-list__value">{{ actor_address(lpa.donor) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">

                        </div>

                    </dl>

                </div>

            </div>

            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    </div>
                </div>
            </dl>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-l">The attorneys</h2>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <dt class="govuk-summary-list__key">How decisions are made</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.caseAttorneySingular %}
                                The attorneys may act individually
                            {% elseif lpa.caseAttorneyJointly %}
                                The attorneys must act jointly
                            {% elseif lpa.caseAttorneyJointlyAndSeverally %}
                                The attorneys must act jointly and severally
                            {% elseif lpa.caseAttorneyJointlyAndJointlyAndSeverally %}
                                The attorneys must act jointly for some decisions, and jointly and severally for other decisions
                            {% endif %}
                        </dd>
                    </dl>

                    {% for attorney in lpa.attorneys %}

                        <h3 class="govuk-heading-m">{{ lpa.attorneys | length == 1 ? 'The' : loop.index | ordinal }} attorney</h3>

                        <dl class="govuk-summary-list govuk-summary-list--no-border">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Name</dt>
                                <dd class="govuk-summary-list__value">{{ actor_name(attorney) }}</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Date of birth</dt>
                                <dd class="govuk-summary-list__value">{{ lpa_date(attorney.dob) }}</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Address</dt>
                                <dd class="govuk-summary-list__value">{{ actor_address(attorney) }}</dd>
                            </div>
                        </dl>
                    {% endfor %}
                </div>
            </div>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    </div>
                </div>

            </dl>
            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-l">LPA details</h2>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Preferences</dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.applicationHasGuidance %}
                                    Yes, the donor made preferences on their LPA.<br>To view these, ask to see the paper LPA
                                {% else %}
                                    No
                                {% endif %}
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Instructions</dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.applicationHasRestrictions %}
                                    Yes, the donor set instructions on their LPA.<br>To view these, ask to see the paper LPA
                                {% else %}
                                    No
                                {% endif %}
                            </dd>
                        </div>

                        {% if lpa.caseSubtype == "pfa" %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">When can the LPA be used?</dt>
                                <dd class="govuk-summary-list__value">
                                    {% if lpa.attorneyActDecisions %}
                                        While the donor has mental capacity, this lpa should only be used with the donor’s permission
                                    {% else %}
                                        This LPA can only be used when the donor does not have mental capacity
                                    {% endif %}
                                </dd>
                            </div>
                        {% else %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Life sustaining <br>treatment</dt>
                                {% if lpa.lifeSustainingTreatment %}
                                    <dd class="govuk-summary-list__value">The attorneys have the authority to make decisions about life-sustaining treatment</dd>
                                {% else %}
                                    <dd class="govuk-summary-list__value">The attorneys do not have the authority to make decisions about life-sustaining treatment</dd>
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date donor signed LPA</dt>
                            <dd class="govuk-summary-list__value">{{ lpa_date(lpa.lpaDonorSignatureDate) }}</dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Registration date</dt>
                            <dd class="govuk-summary-list__value">{{ lpa_date(lpa.registrationDate) }}</dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">LPA reference number</dt>
                            <dd class="govuk-summary-list__value">{{ lpa.uId }}</dd>
                        </div>

                    </dl>
                </div>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                        </div>
                    </div>
                    <div class="govuk-grid-row" style="margin-bottom: 50px">
                        <div class="govuk-grid-column-full">
                            <p class="govuk-body">
                                <a href="{{ path('enter-code') }}">I want to check another LPA</a>
                            </p>
                        </div>
                    </div>
                </dl>
            </div>
        </main>

    </div>
{% endblock %}
