<div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">

        <h3 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-{{ id_counter }}"
                  aria-controls="accordion-default-content-{{ id_counter }}"
                  aria-describedby="accordion-sections-summary-{{ id_counter }}">
                {{ code.Organisation }}
            </span>
            <strong class="govuk-tag">
                {% if code.Viewed %}
                    {% trans %}VIEWED{% endtrans %}
                {% else %}
                    {% trans %}NOT VIEWED{% endtrans %}
                {% endif %}
            </strong>
        </h3>

        <div class="govuk-accordion__section-summary govuk-body" id="accordion-sections-summary-{{ id_counter }}">
            {% if not (check_if_code_has_expired(code.Expires) or check_if_code_is_cancelled(code)) %}
                {% trans count days_remaining_to_expiry(code.Expires) %}Access code expires in %count% day|Access code expires in %count% days{% endtrans %}
            {% elseif check_if_code_is_cancelled(code) %}
                {% trans with {'%date%': code_date(code.Cancelled)} %}Access code cancelled %date%{% endtrans %}
            {% else %}
                {% trans with {'%date%': code_date(code.Expires)} %}Access code expired %date%{% endtrans %}
            {% endif %}
        </div>
    </div>
    <div id="accordion-default-content-{{ id_counter }}" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-{{ id_counter }} accordion-sections-summary-{{ id_counter }}">
        <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-4">

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans %}Access code{% endtrans %}</dt>
                <dd class="govuk-summary-list__value">{{ add_hyphen_to_viewer_code(code.ViewerCode) }}</dd>
            </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{% trans %}Created by{% endtrans %}</dt>
                    {% if code.CreatedBy is defined %}
                        <dd class="govuk-summary-list__value">{{ code.CreatedBy }}</dd>
                    {% else %}
                        {# this should only be the case where the user who created the code deleted their lpa, so we can't figure out who the code was created by #}
                        {# this issue will be fixed by UML-1481 #}
                        <dd class="govuk-summary-list__value"></dd>
                    {% endif %}
                </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">{% trans %}LPA viewed{% endtrans %}</dt>
                <dd class="govuk-summary-list__value">
                    {% if code.Viewed %}
                        {% set allEmpty = true %}

                        {% for code in code.Viewed %}
                            {% if code.ViewedBy is not empty %}
                                {% set allEmpty = false %}
                            {% endif %}
                        {% endfor %}

                        {% if allEmpty %}
                            {% trans %}Viewed{% endtrans %}
                        {% else %}
                            {% for code in code.Viewed %}
                                {% if code.ViewedBy is not empty %}
                                    {% trans with {'%organisation%': code.ViewedBy, '%date%': code_date(code.Viewed, 'Y-m-d\\TH:i:s.u\\Z')} %}%organisation% on %date%{% endtrans %}<br>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {{ code.Viewed }}
                        {% trans %}Not viewed{% endtrans %}
                    {% endif %}
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                {% if not check_if_code_has_expired(code.Expires) %}
                    <dt class="govuk-summary-list__key">{% trans %}Expires{% endtrans %}</dt>
                    <dd class="govuk-summary-list__value">{{ code_date(code.Expires) }}</dd>
                {% else %}
                    <dt class="govuk-summary-list__key">{% trans %}Expired{% endtrans %}</dt>
                    <dd class="govuk-summary-list__value">{{ code_date(code.Expires) }}</dd>
                {% endif %}
            </div>

            {# Checking for cancelled status first.
            This would reduce logic to check and display cancelled status for codes that is cancelled and expired #}
            {% if check_if_code_is_cancelled(code)  %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{% trans %}Status{% endtrans %}</dt>
                    <dd class="govuk-summary-list__value">
                        <span class="moj-badge moj-badge--red">{% trans %}CANCELLED{% endtrans %}</span>
                    </dd>
                </div>
            {% elseif check_if_code_has_expired(code.Expires) %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">{% trans %}Status{% endtrans %}</dt>
                    <dd class="govuk-summary-list__value">
                        <span class="moj-badge moj-badge--red">{% trans %}EXPIRED{% endtrans %}</span>
                    </dd>
                </div>
            {% endif %}
        </dl>

        {% if not check_if_code_has_expired(code.Expires) and not check_if_code_is_cancelled(code) %}
            {{ include('@actor/partials/cancel-code-option.html.twig') }}
        {% endif %}
    </div>
</div>
