<div class="govuk-grid-row">
    {{ govuk_form_open(form) }}
    <div class="govuk-grid-column-three-quarters">
        {{ govuk_form_element(form.get('__csrf')) }}

        {{ govuk_form_element(form.get('reference_number')) }}
        {{ govuk_form_element(form.get('first_names')) }}
        {{ govuk_form_element(form.get('last_name')) }}
        {{ govuk_form_element(form.get('dob')) }}
        {{ govuk_form_element(form.get('postcode')) }}

        <button data-prevent-double-click="true" type="submit" class="govuk-button">{% trans %}Continue{% endtrans %}</button>

        <a href="{{ path('lpa.add') }}" role="button" class="govuk-button govuk-button--secondary">
            {% trans %}This is not the correct LPA{% endtrans %}
        </a>
    </div>
    {{ govuk_form_close() }}
</div>