<dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-0">
    <div class="govuk-summary-list__row govuk-!-margin-bottom-0 govuk-!-margin-top-0">
        <dt class="govuk-summary-list__key govuk-!-margin-bottom-0 govuk-!-width-one-third">
            {% if actorActive %}
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0">{{ caseSubtype }}</h2>
            {% else %}
                <h2 class="govuk-heading-m govuk-!-margin-bottom-0 lpa-secondary-text-colour">{{ caseSubtype }}</h2>
            {% endif %}
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-top-0 govuk-!-padding-bottom-4 govuk-!-margin-bottom-0">
            {% if actorActive %}
                <p class="govuk-!-margin-top-0">
                    <a class="govuk-link" href="{{ path('lpa.create-code', {}, {'lpa': actorToken }) }}">{% trans %}Give an organisation access{% endtrans %}</a><br>
                    <span class="govuk-visually-hidden">{{ actor_name(lpa.donor, false) ~ " " ~ caseSubtype}}</span>
                    <a class="govuk-link" href="{{ path('lpa.access-codes', {}, {'lpa': actorToken }) }}">{% trans %}Check access codes{% endtrans %}</a><br>
                    <span class="govuk-visually-hidden">{{ actor_name(lpa.donor, false) ~ " " ~ caseSubtype }}</span>
                    <a class="govuk-link" href="{{ path('lpa.view', {}, {'lpa': actorToken}) }}">{% trans %}View LPA summary{% endtrans %}</a>
                    <span class="govuk-visually-hidden">{{ actor_name(lpa.donor, false) ~ " " ~ caseSubtype}}</span>
                </p>
            {% else %}
                <p class="govuk-!-margin-top-0 lpa-secondary-text-colour">
                    {% trans %}Give an organisation access<br>
                    Check access codes<br>
                    View LPA summary{% endtrans %}
                </p>
            {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions govuk-!-width-one-third">
            {% if actorActive == false %}
                <span class="moj-badge moj-badge--grey">{% trans %}Access revoked{% endtrans %}</span>
            {% elseif activeCodeCount >= 1 %}
                <span class="moj-badge moj-badge--blue">
                    {% trans count activeCodeCount %}%count% active code|%count% active codes{% endtrans %}
                </span>
            {% else %}
                <span class="moj-badge moj-badge--grey">{% trans %}No organisations have access{% endtrans %}</span>
            {% endif %}
            {% if feature_enabled('delete_lpa_feature') %}
                <a class="govuk-body lpa-account-delete govuk-!-display-block govuk-!-padding-top-4" href="{{ path('lpa.remove-lpa', {}, {'lpa': actorToken }) }}">{% trans %}Remove LPA{% endtrans %}</a>
            {% endif %}
        </dd>
    </div>
</dl>
{%  if not actorActive %}
    <div>
        <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">{% trans %}You no longer have access to this <abbr title="lasting power of attorney">LPA</abbr>.{% endtrans %}
            <a class="govuk-!-margin-left-3 govuk-link" href="{{ path('lpa.removed') }}"> {% trans %}Why is this?{% endtrans %}</a>
        </p>
    </div>
{%  endif %}
{% if actorActive and (lpa.applicationHasRestrictions or lpa.applicationHasGuidance) %}
    <div>
    <p class="govuk-body govuk-!-padding-top-2 govuk-!-padding-bottom-0 govuk-!-margin-bottom-0">{% trans %}<strong>Important: </strong>This LPA has instructions or preferences.{% endtrans %}
        <a class="govuk-!-margin-left-3 govuk-link" href="{{ path('lpa.instructions-preferences') }}"> {% trans %}Read more{% endtrans %}</a>
    </p>
    </div>
{% endif %}
