<span class="govuk-heading-l govuk-!-margin-top-3 govuk-!-margin-bottom-3">{{ actor_name(lpa.donor, false) }}</span>

<hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

<dl class="govuk-summary-list">

    <div class="govuk-summary-list__row govuk-!-margin-bottom-0 govuk-!-margin-top-4">
        <dt class="govuk-summary-list__key govuk-!-margin-bottom-0 govuk-!-width-one-third">
            <span class="govuk-heading-m govuk-!-margin-bottom-0">{{ lpa.caseSubtype == 'pfa' ? 'Property and finance' : 'Health and welfare' }}</span>
        </dt>
        <dd class="govuk-summary-list__value govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-margin-bottom-0">
            <p class="govuk-!-margin-top-0">
                <a href="{{ path('lpa.create-code', {}, {'lpa': actorToken }) }}">Give an organisation access</a><br>
                <a href="{{ path('lpa.access-codes', {}, {'lpa': actorToken }) }}">Check access codes</a><br>
                <a href="{{ path('lpa.view', {}, {'lpa': actorToken}) }}">View LPA summary</a>
            </p>
        </dd>
        <dd class="govuk-summary-list__actions">
            {% if activeCodeCount >= 1 %}
                <span class="moj-badge moj-badge--green">
                    {% if activeCodeCount == 1 %}
                        {{ activeCodeCount }} active code
                    {% else %}
                        {{ activeCodeCount }} active codes
                    {% endif %}
                </span>
            {% else %}
                <span class="moj-badge moj-badge--grey">{{ activeCodeCount }} active codes</span>
            {% endif %}
        </dd>
    </div>
</dl>