{% extends '@layout/default.html.twig' %}

{% block html_title %}{% trans %}Contact us{% endtrans %} - {{ block('service_name') }} - {{ parent() }}{% endblock %}

{% block service_name %}
{% if application == "actor" %}
    {% trans %}Use a lasting power of attorney{% endtrans %}
{% elseif application == "viewer" %}
    {% trans %}View a lasting power of attorney{% endtrans %}
{% endif %}
{% endblock %}

{% block content %}
    <div class="govuk-width-container">
        {{ include('@partials/welsh-switch.html.twig') }}

        <a href="{{ referer }}" class="govuk-back-link">{% trans %}Back{% endtrans %}</a>

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl">{% trans %}Contact us{% endtrans %}</h1>
                    <p class="govuk-body">
                        {% trans %}If you need help with this service you can get in touch by telephone or email.{% endtrans %}
                    </p>

                    {{ include('@partials/contact-details/telephone.html.twig') }}
                    {{ include('@partials/contact-details/email.html.twig') }}

                </div>
            </div>
        </main>
    </div>
{% endblock %}
