<div class="govuk-width-container">
    {{ include('@partials/new-service.html.twig') }}

    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l">
                        {% if lpa.caseSubtype == "pfa" %}
                            Property and finance
                        {% else %}
                            Health and welfare
                        {% endif %}
                    </span>

                <h1 class="govuk-heading-l">{{ lpa.donor.firstname }} {{ lpa.donor.surname }}</h1>

            </div>
        </div>

        {% if not forDownload %}
            <nav class="moj-sub-navigation" aria-label="Sub navigation">
                <ul class="moj-sub-navigation__list">
                    <li class="moj-sub-navigation__item">
                        <a class="govuk-link moj-sub-navigation__link moj-sub-navigation__link--underline" href="{{ path('download-lpa') }}">Download this LPA summary</a>
                    </li>
                </ul>
            </nav>
        {% else %}
            {{ include('@partials/section-break.html.twig') }}
        {% endif %}

        <div class="govuk-grid-row" >

            <div class="govuk-grid-column-full">

                {% if lpa.status == 'Cancelled' %}

                    <div class="govuk-panel govuk-panel--failed">

                        <h1 class="govuk-panel__title">This LPA has been cancelled</h1>

                        <div class="govuk-panel__body govuk-!-font-size-24">
                            <strong>The information on this LPA summary was correct on {{ lpa_date("today") }}</strong>
                        </div>

                    </div>

                {% else %}

                    <div class="govuk-panel govuk-panel--confirmation">

                        <h1 class="govuk-panel__title">This LPA is valid</h1>

                        <div class="govuk-panel__body">
                            <p class="govuk-!-font-size-24">
                                {% if lpa.caseSubtype == "pfa" %}
                                    {% if lpa.attorneyActDecisions == 'When Registered' %}
                                        While the donor has mental capacity, this LPA should only be used with the donor’s permission
                                    {% elseif lpa.attorneyActDecisions == 'Loss of capacity' %}
                                        This LPA can only be used when the donor has lost capacity
                                    {% elseif lpa.attorneyActDecisions == null %}
                                        This LPA can be used as soon as it's registered unless instructions say otherwise.
                                    {% endif %}
                                {% else %}
                                    {% if lpa.lifeSustainingTreatment|lower == 'option a' %}
                                        The attorneys have the authority to make decisions about life-sustaining treatment
                                    {% elseif lpa.lifeSustainingTreatment|lower == 'option b' %}
                                        The attorneys do NOT have the authority to make decisions about life-sustaining treatment
                                    {% endif %}
                                {% endif %}
                            </p>

                            <p class="govuk-!-font-size-24 govuk-!-font-weight-bold">
                                The information on this LPA summary was correct on {{ lpa_date("today") }}
                            </p>
                        </div>

                    </div>

                {% endif %}

            </div>
        </div>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">The donor</h2>

                <dl class="govuk-summary-list govuk-summary-list--no-border">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Name</dt>
                        <dd class="govuk-summary-list__value">{{ actor_name(lpa.donor) }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date of birth</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.donor.dob) }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Address</dt>
                        <dd class="govuk-summary-list__value">{{ actor_address(lpa.donor) }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">

                    </div>
                </dl>
            </div>

        </div>

        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l">The attorneys</h2>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <dt class="govuk-summary-list__key">How decisions are made</dt>
                    <dd class="govuk-summary-list__value">
                        {% if lpa.caseAttorneySingular %}
                            Decisions are made by one attorney
                        {% elseif lpa.caseAttorneyJointly %}
                            Attorneys must make decisions jointly (together)
                        {% elseif lpa.caseAttorneyJointlyAndSeverally %}
                            Attorneys can make decisions jointly (together) and severally (separately)
                        {% elseif lpa.caseAttorneyJointlyAndJointlyAndSeverally %}
                            Attorneys must make some decisions jointly (together) and can make some decisions severally (separately). Check the paper LPA to find out what decisions must be made jointly.
                        {% endif %}
                    </dd>
                </dl>

                {% for attorney in lpa.attorneys %}

                    <h3 class="govuk-heading-m">{{ lpa.attorneys | length == 1 ? '1st' : loop.index | ordinal }} attorney</h3>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Name</dt>
                            <dd class="govuk-summary-list__value">{{ actor_name(attorney) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Date of birth</dt>
                            <dd class="govuk-summary-list__value">{{ lpa_date(attorney.dob) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Address</dt>
                            <dd class="govuk-summary-list__value">{{ actor_address(attorney) }}</dd>
                        </div>
                    </dl>

                {% endfor %}
            </div>
        </div>

        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading-l">LPA details</h2>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Preferences</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.applicationHasGuidance %}
                                Yes, the donor made preferences on their LPA.<br>To view these, ask to see the paper LPA
                            {% else %}
                                No
                            {% endif %}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Instructions</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.applicationHasRestrictions %}
                                Yes, the donor set instructions on their LPA.<br>To view these, ask to see the paper LPA
                            {% else %}
                                No
                            {% endif %}
                        </dd>
                    </div>

                    {% if lpa.caseSubtype == "pfa" %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">When can the LPA be used?</dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.attorneyActDecisions == 'When Registered' %}
                                    While the donor has mental capacity, this LPA should only be used with the donor’s permission
                                {% elseif lpa.attorneyActDecisions == 'Loss of capacity' %}
                                    This LPA can only be used when the donor has lost capacity
                                {% elseif lpa.attorneyActDecisions == null %}
                                    This LPA can be used as soon as it's registered unless instructions say otherwise.
                                {% endif %}
                            </dd>
                        </div>
                    {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">Life sustaining <br>treatment</dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.lifeSustainingTreatment|lower == 'option a' %}
                                    The attorneys have the authority to make decisions about life-sustaining treatment
                                {% elseif lpa.lifeSustainingTreatment|lower == 'option b' %}
                                    The attorneys do not have the authority to make decisions about life-sustaining treatment
                                {% else %}
                                    To view this, ask to see the paper LPA
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Date donor signed LPA</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.lpaDonorSignatureDate) }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Registration date</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.registrationDate) }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">LPA reference number</dt>
                        <dd class="govuk-summary-list__value">{{ lpa.uId }}</dd>
                    </div>

                </dl>

            </div>

        </div>

        {% if not forDownload %}

        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">
                <a class="govuk-link" href="{{ path('enter-code') }}">I want to check another LPA</a>
            </p>

            </div>
        </div>

        {% endif %}

    </main>

</div>
