<div class="govuk-width-container">
    {{ include('@partials/new-service.html.twig') }}

    {% if not forDownload %}
        {{ include('@partials/welsh-switch.html.twig') }}
    {% endif %}

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l">
                        {% if lpa.caseSubtype|lower == "pfa" %}
                            {% trans %}Property and finance{% endtrans %}
                        {% else %}
                            {% trans %}Health and welfare{% endtrans %}
                        {% endif %}
                    </span>

                <h1 class="govuk-heading-l">{{ lpa.donor.firstname }} {{ lpa.donor.surname }}</h1>

            </div>
        </div>

        {% if not forDownload %}
            <nav class="moj-sub-navigation" aria-label="Sub navigation">
                <ul class="moj-sub-navigation__list">
                    <li class="moj-sub-navigation__item">
                        <a class="govuk-link moj-sub-navigation__link moj-sub-navigation__link--underline" href="{{ path('download-lpa') }}">{% trans %}Download this LPA summary{% endtrans %}</a>
                    </li>
                </ul>
            </nav>
        {% else %}
            {{ include('@partials/section-break.html.twig') }}
        {% endif %}

        <div class="govuk-grid-row" >

            <div class="govuk-grid-column-full">

                {% if lpa.status == 'Cancelled' %}

                    <div class="govuk-panel govuk-panel--failed">

                        <h1 class="govuk-panel__title">
                            {% if lpa.caseSubtype|lower == "pfa" %}
                                {% trans %}This property and finance LPA has been cancelled{% endtrans %}
                            {% else %}
                                {% trans %}This health and welfare LPA has been cancelled{% endtrans %}
                            {% endif %}
                        </h1>

                        <div class="govuk-panel__body govuk-!-font-size-24">
                            <strong>{% trans with {'%date%': lpa_date("today")} %}The information on this LPA summary was correct on %date%{% endtrans %}</strong>
                        </div>

                    </div>

                {% else %}

                    <div class="govuk-panel govuk-panel--confirmation">

                        <h1 class="govuk-panel__title">
                            {% if lpa.caseSubtype|lower == "pfa" and lpa.attorneyActDecisions|lower == 'when registered' %}
                                {% trans %}This property and finance LPA is valid and can be used now{% endtrans %}
                            {% else %}
                                {% if lpa.caseSubtype|lower == "pfa" %}
                                    {% trans %}This property and finance LPA is valid{% endtrans %}
                                {% else %}
                                    {% trans %}This health and welfare LPA is valid{% endtrans %}
                                {% endif %}
                            {% endif %}
                        </h1>


                        <div class="govuk-panel__body">
                            <p class="govuk-!-font-size-24">
                                {% if lpa.caseSubtype|lower == "pfa" %}
                                    {% if lpa.attorneyActDecisions|lower == 'loss of capacity' %}
                                        {% trans %}This LPA can only be used when the donor has lost capacity{% endtrans %}
                                    {% elseif lpa.attorneyActDecisions == null %}
                                        {% trans %}This LPA can be used as soon as it's registered unless instructions say otherwise{% endtrans %}
                                    {% endif %}
                                {% else %}
                                    {% if lpa.lifeSustainingTreatment|lower == 'option a' %}
                                        {% trans %}The attorneys have the authority to make decisions about life-sustaining treatment{% endtrans %}
                                    {% elseif lpa.lifeSustainingTreatment|lower == 'option b' %}
                                        {% trans %}The attorneys do NOT have the authority to make decisions about life-sustaining treatment{% endtrans %}
                                    {% endif %}
                                {% endif %}
                            </p>

                            <p class="govuk-!-font-size-24 govuk-!-font-weight-bold">
                                {% trans with {'%date%': lpa_date("today")} %}This LPA summary was correct on %date%{% endtrans %}
                            </p>
                        </div>

                    </div>

                {% endif %}

            </div>
        </div>
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">
                <h2 class="govuk-heading-l">{% trans %}The donor{% endtrans %}</h2>

                <dl class="govuk-summary-list govuk-summary-list--no-border">

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans %}Name{% endtrans %}</dt>
                        <dd class="govuk-summary-list__value">{{ actor_name(lpa.donor) }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans %}Date of birth{% endtrans %}</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.donor.dob) }} </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans %}Address{% endtrans %}</dt>
                        <dd class="govuk-summary-list__value">{{ actor_address(lpa.donor) }}</dd>
                    </div>
                    <div class="govuk-summary-list__row">

                    </div>
                </dl>
            </div>

        </div>

        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-l">{% trans %}The attorneys{% endtrans %}</h2>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <dt class="govuk-summary-list__key">{% trans %}How decisions are made{% endtrans %}</dt>
                    <dd class="govuk-summary-list__value">
                        {% if lpa.caseAttorneySingular %}
                            {% trans %}Decisions are made by one attorney{% endtrans %}
                        {% elseif lpa.caseAttorneyJointly %}
                            {% trans %}Attorneys must make decisions jointly (together){% endtrans %}
                        {% elseif lpa.caseAttorneyJointlyAndSeverally %}
                            {% trans %}Attorneys can make decisions jointly (together) and severally (separately){% endtrans %}
                        {% elseif lpa.caseAttorneyJointlyAndJointlyAndSeverally %}
                            {% trans %}Attorneys must make some decisions jointly (together) and can make some decisions severally (separately). Check the paper LPA to find out what decisions must be made jointly.{% endtrans %}
                        {% endif %}
                    </dd>
                </dl>

                {% for attorney in lpa.attorneys %}

                    <h3 class="govuk-heading-m">{% trans count loop.index with {'%attorneyOrdinal%': loop.index | ordinal} %}%attorneyOrdinal% attorney|%attorneyOrdinal% attorney{% endtrans %}</h3>

                    <dl class="govuk-summary-list govuk-summary-list--no-border">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans %}Name{% endtrans %}</dt>
                            <dd class="govuk-summary-list__value">{{ actor_name(attorney) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans %}Date of birth{% endtrans %}</dt>
                            <dd class="govuk-summary-list__value">{{ lpa_date(attorney.dob) }}</dd>
                        </div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans %}Address{% endtrans %}</dt>
                            <dd class="govuk-summary-list__value">{{ actor_address(attorney) }}</dd>
                        </div>
                    </dl>

                {% endfor %}
            </div>
        </div>

        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-full">

                <h2 class="govuk-heading-l">{% trans %}LPA details{% endtrans %}</h2>

                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans %}Preferences{% endtrans %}</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.applicationHasGuidance %}
                                {% trans %}Yes, the donor made preferences on their LPA.<br>To view these, ask to see the paper LPA{% endtrans %}
                            {% else %}
                                {% trans %}No{% endtrans %}
                            {% endif %}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans %}Instructions{% endtrans %}</dt>
                        <dd class="govuk-summary-list__value">
                            {% if lpa.applicationHasRestrictions %}
                                {% trans %}Yes, the donor set instructions on their LPA.<br>To view these, ask to see the paper LPA{% endtrans %}
                            {% else %}
                                {% trans %}No{% endtrans %}
                            {% endif %}
                        </dd>
                    </div>

                    {% if lpa.caseSubtype == "pfa" %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans %}When can the LPA be used?{% endtrans %}</dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.attorneyActDecisions|lower == 'when registered' %}
                                    {% trans %}The donor has said that this LPA can be used now. While the donor has mental capacity, their attorneys can only use the LPA if the donor allows them to.{% endtrans %}
                                {% elseif lpa.attorneyActDecisions|lower == 'loss of capacity' %}
                                    {% trans %}This LPA can only be used when the donor has lost capacity{% endtrans %}
                                {% elseif lpa.attorneyActDecisions == null %}
                                    {% trans %}This LPA can be used as soon as it's registered unless instructions say otherwise.{% endtrans %}
                                {% endif %}
                            </dd>
                        </div>
                    {% else %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">{% trans %}Life-sustaining<br>treatment{% endtrans %}</dt>
                            <dd class="govuk-summary-list__value">
                                {% if lpa.lifeSustainingTreatment|lower == 'option a' %}
                                    {% trans %}The attorneys have the authority to make decisions about life-sustaining treatment{% endtrans %}
                                {% elseif lpa.lifeSustainingTreatment|lower == 'option b' %}
                                    {% trans %}The attorneys do not have the authority to make decisions about life-sustaining treatment{% endtrans %}
                                {% else %}
                                    {% trans %}To view this, ask to see the paper LPA{% endtrans %}
                                {% endif %}
                            </dd>
                        </div>
                    {% endif %}

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans %}Date donor signed LPA{% endtrans %}</dt>
                        <dd class="govuk-summary-list__value">{{  lpa_date(lpa.lpaDonorSignatureDate) }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans %}Registration date{% endtrans %}</dt>
                        <dd class="govuk-summary-list__value">{{ lpa_date(lpa.registrationDate) }}</dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">{% trans %}LPA reference number{% endtrans %}</dt>
                        <dd class="govuk-summary-list__value">{{ lpa.uId }}</dd>
                    </div>
                </dl>
            </div>
        </div>

        {% if not forDownload %}

        {{ include('@partials/section-break.html.twig') }}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

            <p class="govuk-body">
                <a class="govuk-link check-another" href="{{ path('home') }}">{% trans %}I want to check another LPA{% endtrans %}</a>
            </p>

            </div>
        </div>

        {% endif %}

    </main>

</div>
