{% block error_summary %}
    {% if errors|length > 0 %}
        {# ... display the errors for the whole form #}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                {% trans %}There is a problem{% endtrans %}
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for id, messages in errors %}
                        {% for message in messages %}
                            <li>
                                {% if id <= 0 %}
                                    <a data-attribute="ga-load-event" data-gaCategory="Form errors" data-gaAction="Form" data-gaLabel="{{ message }}" href="#">{{ message | trans([], null, 'error') | raw }}</a>
                                {% else %}
                                    <a href="#{{ id }}">{{ message | trans([], null, 'error') | raw }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock error_summary %}

{% block error_message %}
    {% if errors|length > 0 %}
        {# ... display the errors for a single field #}
        {%- for error in errors -%}
            <span class="govuk-error-message">
                <span data-attribute="ga-load-event" data-gaCategory="Form errors" data-gaAction="{{ element.label }}" data-gaLabel="#{{ element.getName() }} - {{ error }}" class="govuk-visually-hidden">{% trans %}Error:{% endtrans %}</span> {{ error | trans([], null, 'error') | raw }}
            </span>
        {%- endfor -%}
    {% endif %}
{% endblock error_message %}
