{% block form_input_text %}

    <div class="govuk-form-group {% if element.getMessages() is not empty %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="{{ element.getName() }}">
            {{ element.getLabel() }}
        </label>

        {{ govuk_error(element) }}

        <input class="govuk-input {% if element.getMessages() is not empty %}govuk-input--error{% endif %}" id="{{ element.getName() }}"
               name="{{ element.getName() }}" type="text" value="{{ element.getValue() }}" />
    </div>

{% endblock form_input_text %}

{% block form_input_password %}

    <div class="govuk-form-group {% if element.getMessages() is not empty %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="{{ element.getName() }}">
            {{ element.getLabel() }}
        </label>

        {{ govuk_error(element) }}

        <input class="govuk-input {% if element.getMessages() is not empty %}govuk-input--error{% endif %}" id="{{ element.getName() }}"
               name="{{ element.getName() }}" type="password" />
    </div>

{% endblock form_input_password %}

{% block form_input_checkbox %}

    <div class="govuk-form-group {% if element.getMessages() is not empty %}govuk-form-group--error{% endif %}">
        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">

                <input class="govuk-checkboxes__input" id="{{ element.getName() }}" name="{{ element.getName() }}" value="{{ element.getCheckedValue() }}" type="checkbox" {% if element.getValue() == element.getCheckedValue() %}checked="checked"{% endif %}>

                <label class="govuk-label govuk-checkboxes__label" for="{{ element.getName() }}">
                    {{ element.getLabel() | raw }}

                    {{ govuk_error(element) }}
                </label>

            </div>
        </div>
    </div>

{% endblock form_input_checkbox %}
