{%- block form_open -%}
    <form name="{{ form.getName() }}" method="post" novalidate action="{{ form.getAttribute('action') ?: path() }}">
{%- endblock form_open -%}


{%- block form_close -%}
    </form>
{%- endblock form_close -%}


{%- block form_element_simple -%}
    <div class="govuk-form-group {{- block('form_group_error_class') -}}">

        <label class="govuk-label {{- block('input_extra_label_class') -}} " for="{{ element.getName() }}">
            {{ label | raw }}
        </label>

        {% if element.getName() == 'opg_reference_number' %}
            <p class="govuk-body">{% trans %}The OPG reference number (also called LPA reference number) is on the first page of the paper LPA and printed on any letter you get from the Office of the Public Guardian.{% endtrans %}</p>
        {% endif %}

        {{- block('input_hint') -}}

        {% if fieldset is not defined or fieldset is empty %}

            {{ govuk_error(element) }}

        {% endif %}

        {% if input_prefix is defined %}

            <span class="govuk-body-l govuk-!-font-weight-bold">
                {{ input_prefix }}
            </span>

        {% endif %}

        {{- block('form_input') -}}

    </div>
{%- endblock form_element_simple -%}

{%- block form_input_email -%}
    {%- set type = type|default('email') -%}
    {%- set inputmode = 'email' -%}
    {%- set autocomplete = 'email' -%}
    {%- set spellcheck = 'false' -%}
    {%- set value = element.getValue() -%}
    {{ block('form_element_simple') }}
{%- endblock form_input_email -%}

{%- block form_input_text -%}
    {%- set type = type|default('text') -%}
    {%- set inputmode = inputmode|default('') -%}
    {%- set pattern = pattern|default('') -%}
    {%- set value = element.getValue() -%}
    {{ block('form_element_simple') }}
{%- endblock form_input_text -%}


{%- block form_input_password -%}
    {%- set type = type|default('password') -%}
    {%- set value = '' %}
    {{ block('form_element_simple') }}
{%- endblock form_input_password -%}


{%- block form_input_checkbox -%}
    <div class="govuk-form-group {{- block('form_group_error_class') -}}">
        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">

                <input class="govuk-checkboxes__input" id="{{ element.getName() }}" name="{{ element.getName() }}" value="{{ element.getCheckedValue() }}" type="checkbox" {% if element.getValue() == element.getCheckedValue() %}checked="checked"{% endif %}>

                <label class="govuk-label govuk-checkboxes__label" for="{{ element.getName() }}">
                    {{ label | raw }}

                    {{ govuk_error(element) }}
                </label>

            </div>
        </div>
    </div>
{%- endblock form_input_checkbox -%}

{%- block form_input_radio -%}
    <div class="govuk-form-group {% if element.getMessages() is not empty %}govuk-form-group--error{% endif %}">
        {%  for option in value_options %}
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios"><br>
            <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="{{ element.getName() }}-{{ loop.index }}" name="{{ element.getName() }}" type="radio" value="{{ option.value }}" {% if option.value == element.getValue() %}checked="checked"{% endif %} data-aria-controls="conditional-{{ element.getName() }}-{{ loop.index }}">
                <label class="govuk-label govuk-radios__label" for="{{ element.getName() }}-{{ loop.index }}">
                    {{ option.label }}
                </label>
                {% if option.conditionalContent is defined %}
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ element.getName() }}-{{ loop.index }}">
                        {{ option.conditionalContent }}<br><br>
                        {{ option.conditionalContent1 }}
                    </div>
                {% endif %}
                {% if option.hint is defined %}
                    <span id="{{ element.getName() }}-{{ loop.index }}" class="govuk-hint govuk-radios__hint">
                        {{ option.hint }}
                    </span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{%- endblock form_input_radio -%}

{%- block form_fieldset_date -%}
    <div class="govuk-form-group {% if fieldset.getMessages() is not empty %}govuk-form-group--error{% endif %}">

        <fieldset name="{{ fieldset.getName() }}" class="govuk-fieldset" aria-describedby="{{ fieldset.getName() }}-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <label class="govuk-label {{- block('input_extra_label_class') -}}" for="{{ fieldset.getName() }}">
                    {{ label | raw }}
                </label>
            </legend>

            {% with { element: fieldset } %}
                {{- block('input_hint') -}}
            {% endwith %}

            {{ govuk_error(fieldset) }}

            <div class="govuk-date-input" id="{{ fieldset.getName() }}">
                <div class="govuk-date-input__item">

                    {{ govuk_form_element(fieldset.get('day'), {
                        'label': 'Day' | trans,
                        'attr' : {'class': 'govuk-date-input__input govuk-input--width-2', 'label_class': 'govuk-date-input__label'},
                        'inputmode': 'numeric',
                        'pattern': '[0-9]*'
                    }, fieldset) }}

                </div>
                <div class="govuk-date-input__item">

                    {{ govuk_form_element(fieldset.get('month'), {
                        'label': 'Month' | trans,
                        'attr' : {'class': 'govuk-date-input__input govuk-input--width-2', 'label_class': 'govuk-date-input__label'},
                        'inputmode': 'numeric',
                        'pattern': '[0-9]*'
                    }, fieldset) }}

                </div>
                <div class="govuk-date-input__item">

                    {{ govuk_form_element(fieldset.get('year'), {
                        'label': 'Year' | trans,
                        'attr' : {'class': 'govuk-date-input__input govuk-input--width-4', 'label_class': 'govuk-date-input__label'},
                        'inputmode': 'numeric',
                        'pattern': '[0-9]*'
                    }, fieldset) }}

                </div>
            </div>

        </fieldset>

    </div>
{%- endblock form_fieldset_date -%}


{% block form_input_hidden %}
    <input id="{{ element.getName() }}" name="{{ element.getName() }}" type="hidden" value="{{ element.getValue() }}" />
{% endblock form_input_hidden %}


{%- block input_extra_class -%}
    {%- if attr is defined and attr['class'] is defined and attr['class'] is not empty -%}
        {{- " " -}}
        {{- attr['class'] -}}
    {%- endif -%}
{%- endblock input_extra_class -%}


{%- block input_extra_label_class -%}
    {%- if attr is defined and attr['label_class'] is defined and attr['label_class'] is not empty -%}
        {{- " " -}}
        {{- attr['label_class'] -}}
    {%- endif -%}
{%- endblock input_extra_label_class -%}


{%- block input_error_class -%}
    {%- if element.getMessages() is not empty -%}
        {{- " " -}}
        govuk-input--error
    {%- endif -%}
{%- endblock input_error_class -%}


{%- block form_group_error_class -%}
    {%- if element.getMessages() is not empty -%}
        {{- " " -}}
        govuk-form-group--error
    {%- endif -%}
{%- endblock form_group_error_class -%}


{%- block input_hint -%}
    {% if hint is defined %}
        <span id="{{ element.getName() }}-hint" class="govuk-hint">
            {{ hint | raw }}
        </span>
    {% endif %}
{%- endblock input_hint -%}

{%- block form_input -%}
    {% if element.getName() == 'show_hide_password' %}
        <div class="moj-password-reveal">
    {% endif %}

    <input class="govuk-input {{- block('input_extra_class') -}} {{- block('input_error_class') -}}"
           id="{{ element.getName() }}" name="{{ element.getName() }}" type="{{ type }}" value="{{ value }}"
            {% if inputmode is defined and inputmode is not empty %}inputmode="{{ inputmode }}"{% endif %}
            {% if pattern is defined and pattern is not empty %}pattern="{{ pattern }}"{% endif %}
            {% if spellcheck is defined and spellcheck is not empty %}spellcheck="{{ spellcheck }}"{% endif %}
            {% if autocomplete is defined and autocomplete is not empty %}autocomplete="{{ autocomplete }}"{% endif %} />

    {% if element.getName() == 'show_hide_password' %}
        <button class="govuk-button govuk-button--secondary moj-password-reveal__button" data-module="govuk-button" type="button"
                data-showpassword="{% trans %}Show{% notes %}Show password label{% endtrans%}"
                data-hidepassword="{% trans %}Hide{% notes %}Hide password label{% endtrans %}">
        </button>
        </div>
    {% endif %}

{%- endblock form_input -%}
